[2015-06-25 00:14] tarfu commented on #236
I have tried this and it makes it kind of worse....

    panic: runtime error: slice bounds out of range

     goroutine 1 [running]:
    github.com/constabulary/gb/cmd/gb-vendor/vendor.DeduceRemoteRepo(0x7fffadba8893, 0x11,         0xc20801fb00, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0)
    	/home/tobias/go/src/github.com/constabulary/gb/cmd/gb-vendor/vendor/repo.go:131 +0x1d00
    main.func·002(0xc208011a40

[2015-06-25 00:18] davecheney commented on #236
Thanks. Now I have two bugs :)

On Thu, 25 Jun 2015 10:15 Tobias Breitwieser <notifications@github.com>
wrote:

[2015-06-25 14:13] aviflax commented on #233
Same problem, I need to pass `-v` and `-cover` but no luck.

[code]

[2015-06-25 15:59] aviflax opened #237 "Exporting a GOPATH and then running go test yields errors even when gb test succeeds"
I’m having some strange issues related to exporting a GOPATH and then running `go test`. I don’t know, but it seems almost like some of my dependency code is getting cached somewhere somehow.

Here’s what I’m seeing:

[code]

…those errors are incorrect; the supposedly undefined symbols are actually defined.

And `gb test` works fine:

[code]

(if some of that output looks odd, it’s because I’m us

[2015-06-25 16:22] aviflax commented on #237
I just closed that terminal and opened a new one, and `go test` seems to be working OK now… I’m glad, but I still have no idea what was going on, or why opening a new terminal seems to have worked around the problem. I would be delighted if anyone can enlighten me. Thanks!

[2015-06-25 22:43] agonzalezro opened #238 "GB can't crosscompile to 386 archs?"
Hello,

I am trying to use this Dockerfile: https://github.com/agonzalezro/gb-cross/blob/master/Dockerfile to crosscompile `gb` projects.

It works completely fine with amd64 binaries. I managed to compile it for linux, darwin and freebsd. But every time that I try to compile for 386 archs, I get this error:

`/usr/src/go/pkg/tool/linux_amd64/6g: cannot use 6g with GOARCH=386`

Same container, wit

[2015-06-25 22:52] davecheney commented on #238
Sorry, cross compilation is still on the backlog

On Fri, 26 Jun 2015 08:43 Alexandre González <notifications@github.com>
wrote:

[2015-06-25 23:11] davecheney commented on #237
Maybe you set project to the wrong thing, pwd might not be the right value.
You can use, gb env to recover the project root anywhere inside the project

On Fri, 26 Jun 2015 02:22 Avi Flax <notifications@github.com> wrote:

[2015-06-26 13:00] agonzalezro commented on #238
I don't really have a lot of experience in cross compiling. But if you give me some advice I suppose that I could work in a PR to make this work. I would say that the key is here: https://github.com/constabulary/gb/blob/master/defaultcc.go & here: https://github.com/constabulary/gb/blob/master/defaultcc_bsd.go but I don't understand what else is needed.

[2015-06-26 14:18] aviflax commented on #237
Hmm, maybe, thanks! I’ll re-open if it happens again.

[2015-06-26 14:18] #237 closed

[2015-06-26 20:13] rzendacott commented on #216
:+1: for this change.

[2015-06-27 04:33] davecheney commented on #238
If you don't have experience in this area, I would not advise you to start
in this area. This is not as simple as making sure GOOS and GOARCH are
passed down to the compiler.

On Fri, Jun 26, 2015 at 11:00 PM, Alexandre González <
notifications@github.com> wrote:

[2015-06-27 04:52] davecheney commented on #209
@pires  please try the following
[code]
If you find any remaining copies, remove them. Then
[code]

[2015-06-27 11:11] ybogdanov opened #239 "Can gb help forking vendor packages?"
Hi,

I can't find an easy way of forking third-party packages in Go, especially of they refer themselves in import paths like this `import "github.com/docker/docker/nat"`. In this case if I fork docker, the path will be `github.com/ybogdanov/docker/nat` and it will break the whole thing.

A known solution is to use symlinks, but it is hard to manage when your package is pulled by someone else. Oth

[2015-06-27 11:21] davecheney commented on #239
I don't recommend symlinks when working with Go code.

The vendor manifest file has all the parts needed for your requirements, they just aren't hooked up. For example, the manifest has separate fields for the importpath (github.com/docker/nat) and the upstream repository (github.com/ybogdanov/docker/nat).

Possibly an invocation would look like

    gb vendor fetch -as github.com/docker/nat githu

[2015-06-27 11:33] ybogdanov commented on #239
Thanks for quick response.

Your solution looks easy and straightforward. But how then work with a forked package while still keeping it in `vendor/src`? You have to be able to push your changes. You can do `git init` there, but I guess it will be removed once you do `gb vendor update -all`.

[2015-06-27 11:36] davecheney commented on #239
The project's vendor directory is not for developing code, code that lives there is a copy of code that lives somewhere else.

If you are keeping a long running fork of docker/nat for your project, I recommend doing this

    git clone https://github.com/ybogdanov/docker/nat $PROJECT/vendor/src/github.com/docker/docker/nat

[2015-06-27 11:40] ybogdanov commented on #239
But what will happen if after it I run `gb vendor update -all`?

[2015-06-27 11:46] davecheney commented on #239
If you follow my advice in https://github.com/constabulary/gb/issues/239#issuecomment-116016722 nothing will happen as that part of the vendor directory is not known to gb vendor as it is not in the manifest.

If you pursue https://github.com/constabulary/gb/issues/239#issuecomment-116013550 then the copy of the code in the vendor directory will be overwritten.

You should decide if you want to de

[2015-06-27 11:55] ybogdanov commented on #239
But what if I need both?
1. `gb vendor fetch -as github.com/docker/docker github.com/ybogdanov/docker` to let others easily work with my project using forked docker
2. `git clone https://github.com/ybogdanov/docker vendor/src/github.com/docker/docker` for me to work with my docker fork within the project

[2015-06-27 11:58] davecheney commented on #239
You should always check the contents of your vendored code into your project. Others pulling your project will then have the correct versions of vendored depedencies.

If you like you could use git submodules, I don't know if that is an option for you.

[2015-06-27 20:59] evertheylen opened #240 "cmd/gb: add support for -gcflags"
I would like to be able to configure flags when building the project, like this:

    go build -work helloworld.go

Is this possible? I have only found the possibility of passing linker flags.

[2015-06-27 22:21] davecheney commented on #240
I'm not sure I understand the question. Do you want a flag to keep the
working directory after competition of the command?

On Sun, 28 Jun 2015 07:00 Evert Heylen <notifications@github.com> wrote:

[2015-06-27 22:41] evertheylen commented on #240
The example has nothing to do with what I want to achieve, it's just an example. However, I can see some confusion, as the 'go' executable does not contain the compiler itself. A better example would be this:

How can I pass a flag to the compiler like this one: https://github.com/golang/go/blob/master/src/cmd/compile/internal/gc/lex.go#L228

(Again, just an arbitrary chosen example.)

[2015-06-27 22:42] davecheney commented on #240
Thanks for explaining. I can add -gcflags to gb build.

On Sun, Jun 28, 2015 at 8:41 AM, Evert Heylen <notifications@github.com>
wrote:

[2015-06-27 22:45] evertheylen commented on #240
That would be awesome :D

[2015-06-28 02:10] #240 closed

[2015-06-28 02:38] #236 closed

[2015-06-28 05:55] davecheney commented on #139
Closed in #231

[2015-06-28 05:55] #139 closed

[2015-06-28 05:55] #198 closed

[2015-06-28 19:40] ybogdanov opened #244 "Question: how to fetch all dependencies to a fresh clone"
How to fetch all dependencies to a fresh project clone using locked versions of dependencies from a manifest, in case `vendor/src` is gitignored?
`gb vendor update -all` pulls the newest versions, but I want to keep those which are locked already.

Thanks.

[2015-06-28 19:55] ybogdanov commented on #244
Found #175, but it's not clear to me. Are you talking about that checking vendor code into project source control is the only option?

[2015-06-28 22:51] davecheney commented on #244
Yes, gb vendor does not seek to replace go get. gb expects all the code to be present in either `$PROJECT/src` or `$PROJECT/vendor/src`. To achieve this you could use gb vendor to copy that code into `$PROJECT/vendor/src` then check the resulting code in. Others have used git submodules.

gb does not take a position on what scheme you use to make sure all the source of a project is present at buil

[2015-06-29 16:31] ybogdanov commented on #244
Got it, thanks. What will happen if a project that is using gb is included to another project (as a dependency)? How then dependencies would be resolved?

[2015-06-29 18:38] wmadisonDev opened #245 "Recursive Dependency Fetch Incorrectly Attempts to Fetch Native Packages"
Operating System: Windows 7 Professional

    PS C:\git\stash\playground\cerebro> gb vendor fetch github.com/aws/aws-sdk-go
    fetching recursive dependency crypto/hmac
    skipping insecure protocol: http://crypto/hmac?go-get=1
    FATAL command "fetch" failed: unable to determine remote metadata protocol
    FATAL command "vendor" failed: exit status 1

crypto/hmac is actually native Go package

[2015-06-29 18:58] wmadisonDev opened #246 "Typo for no-recurse flag on gb vendor fetch"
In trying to disable recursive fetching (as a workaround for #245) I attempted to utilize the -no-recurse option but I found it failing as follows:

    PS C:\git\stash\playground\cerebro> gb vendor fetch -no-recurse github.com/aws/aws-sdk-go
    flag provided but not defined: -no-recurse

So I dug into the code a bit and found the flag had a typo inside the gb-vendor command [here](https://github

[2015-06-29 22:34] davecheney commented on #245
Thanks for raising this bug. I'll look into it today.

On Tue, 30 Jun 2015 04:38 Will Madison <notifications@github.com> wrote:

[2015-06-29 22:38] davecheney commented on #244
GB projects are not go gettable, and at the moment GB vendor will not
vendor them properly.

At the moment GB projects should represent the top of the tree.

On Tue, 30 Jun 2015 02:31 Yuriy Bogdanov <notifications@github.com> wrote:

[2015-06-30 01:49] davecheney commented on #245
I cannot reproduce this on linux. I think this is probably a windows path issue (import paths and unix paths match, windows paths do not)
[code]

[2015-06-30 02:15] #245 closed

[2015-06-30 02:43] davecheney commented on #239
Closing as answered for the moment.

[2015-06-30 02:43] #239 closed

[2015-06-30 02:44] davecheney commented on #227
Hello @shrimpywu

I tried to reproduce this problem on a win8 machine and was not able. Can you please zip up the project and upload it to this issue so I can tried to reproduce the issue.

[2015-06-30 03:40] davecheney commented on #244
gb vendor expects dependencies to be go gettable, and at the moment gb projects are not go gettable (the project format does not match the go get format).

The project owner will probably be manually copying the bits over. In the future gb vendor might be able to help automate this, all the parts are there in the manifest, but they are not hooked up yet.

[2015-06-30 03:40] davecheney commented on #234
Closing as answered for the moment.

[2015-06-30 03:40] #234 closed

[2015-06-30 10:26] pires commented on #209
My fault. Thanks @davecheney worked like a charm.

[2015-06-30 13:01] #246 closed

[2015-06-30 19:55] svenwltr commented on #175
I don't think this would replace `go get` since it is not possible to fetch a specific revision, tag or branch with `go get`.

[2015-06-30 20:16] markmandel opened #249 "Question: Should `go vendor fetch` fail when it can't find the depset?"
Using `go vendor fetch` it now seems that `recurse` is now defaulted to true.

If the project doesn't have a depset (which looks to be a whole vendor/src dir, [from the code](https://github.com/constabulary/gb/blob/master/cmd/gb-vendor/fetch.go#L156-L159)), then `go vendor fetch` fails.

For example:

[code]

Running the same command with `-no-recurse` works, but it seems strange that I have to sp

[2015-06-30 22:34] jtolds opened #250 "gb vendor fetch: fails when fetching `git.apache.org/thrift.git/lib/go/thrift`"
If you run

[code]

gb vendor fetch fails. I assume this is due to the `.git` in the expected import path.

[2015-06-30 22:45] davecheney commented on #250
Can you post the output you see please.

[2015-06-30 23:39] jtolds commented on #250
[code]

[2015-06-30 23:40] jtolds commented on #250
I straced and now I'm convinced I simply have no idea what's going on. It might not be due to the .git bit. ¯\_(ツ)_/¯

[2015-06-30 23:43] davecheney commented on #250
Thanks. I think I know what is going on, it is related to the path that
follows the segment ending in .git.

On Wed, 1 Jul 2015 09:40 JT Olds <notifications@github.com> wrote:

[2015-07-01 02:20] davecheney commented on #249
@markmandel I cannot reproduce the issue, can you please provide more information.

[2015-07-01 03:08] harpreet-sawhney commented on #249
I am seeing this as well.

gb vendor fetch github.com/Sirupsen/logrus
FATAL command "fetch" failed: github.com/Sirupsen/logrus is already vendored
FATAL command "vendor" failed: exit status 1

The problem seems to happen when I execute "gb vendor fetch" from within **$GB_PROJECT_DIR/src** directory. It works without errors when I execute the same command from within **$GB_PROJECT_DIR**

[2015-07-01 03:17] davecheney commented on #249
@harpreet-sawhney that is a different error. Can I ask you to please log a new issue.

[2015-07-01 03:21] harpreet-sawhney commented on #249
@davecheney Just edited my previous comment. It was a bad copy-paste on my part.

To re-iterate

 am seeing this as well.

gb vendor fetch github.com/Sirupsen/logrus
FATAL command "fetch" failed: unable to locate depset for "github.com/Sirupsen/logrus"
FATAL command "vendor" failed: exit status 1

The problem seems to happen when I execute "gb vendor fetch" from within $GB_PROJECT_DIR/src director

[2015-07-01 03:23] davecheney commented on #249
@harpreet-sawhney thanks for that additional information. I can replicate the problem.

[2015-07-01 03:34] #249 closed

[2015-07-01 03:35] davecheney commented on #249
All fixed. Stupid mistake on my part.

[2015-07-01 04:04] markmandel commented on #249
:trophy: Thanks! I'll check that out when I get back to work, but I'm sure it's perfect.

Nice find on the sub directory, I didn't realise that was the issue.

[2015-07-01 19:11] falzm commented on #96
I would also like this to be implemented in `gb build`, please.

[2015-07-02 00:04] mopemope commented on #37
Any update on this?

[2015-07-02 05:36] ChrisHines opened #253 "gb test fails on Windows when project and tempdir are not on the same drive"
Steps to reproduce:

1) Create new gb project containing `src\hw\hw_test.go`:
[code]
2) Put the project on any drive other than `C:` on a Windows machine, such as in `M:\test`
3) Run `gb test -v` within the project dir.

Observe the output:

[code]
If the project is instead located at `C:\test` the test will run and pass (although a different error occurs later).
[code]

This bug is a result of no

[2015-07-02 05:51] #253 closed

[2015-07-03 13:36] newhook opened #256 "gb vendor fetch github.com/fsouza/go-dockerclient fails"
This is on OSX.

[code]

[2015-07-05 03:11] asbjxrn opened #257 "gb vendor fetch <git repository> fails on RHEL/Centos 6"
RHEL6/Centos6 uses git 1.7.1, which do not have the --exit-code option for ls-remote.
This causes gb vendor fetch to fail.

While these os's are getting old, RHEL6 is still widely used in big slow-moving companies.

[2015-07-05 03:26] davecheney commented on #257
I'd like to make GB work for those older versions of git, do you have a
suggested replacement ?

On Sun, 5 Jul 2015 13:11 Asbjørn Bjørnstad <notifications@github.com> wrote:

[2015-07-05 03:37] asbjxrn commented on #257
As it always returns 0, I think the alternative is to look at the output to see if the HEAD tag is found. Since the ls-remote searches for that tag specifically, it might be enough to simply check if output is more than 0 bytes but I haven't looked too much into it yet.

I see that there is an open pull request that changes the git command to using pkg/exec. I could try creating a pull request if

[2015-07-05 04:06] davecheney commented on #257
Nah, I won't merge that one til after gophercon, don't worry about merge
conflicts.

On Sun, 5 Jul 2015 13:37 Asbjørn Bjørnstad <notifications@github.com> wrote:

[2015-07-08 09:56] Luit opened #262 "gb generate fails with Go installed from Fedora repos"
`gb generate` uses `build.Context.GOROOT` to find the `go` tool, which fails when using Fedora's system package for Go because it's not at `$GOROOT/bin/go` but at `$GOROOT/bin/linux_amd64/go` (I'm not sure why).

Would using `exec.LookPath` here to find `go` break anything? I'm not familiar with the `build.Context`, and how it's constructed, so I'm not sure if this could find the wrong executable.

[2015-07-09 07:14] ryan-endacott commented on #233
From some testing, it looks like the bug is that flags fail to parse if they're passed after the package name.  For a temporary solution, something like this should work:  `gb test -v -cover rugen`.

[2015-07-09 13:47] Luit commented on #262
Found out how the binaries end up in this nonstandard folder: http://pkgs.fedoraproject.org/cgit/golang.git/tree/golang.spec#n406 (lines 408-410)

[2015-07-09 15:56] Luit commented on #262
The version I'm now using locally (with -n -x and -v options added too): https://github.com/constabulary/gb/compare/constabulary:45ec0f4...Luit:014193a

[2015-07-12 21:41] markmandel opened #266 "FATAL command "fetch" failed: stat /goroot/src: no such file or directory"
I get this error message whenever I use `go fetch ...`

It doesn't seem to actually affect everything, as I have a manifest file, and the import gets downloaded as well.

[code]

All my binaries are stored in /usr/bin

[2015-07-12 22:35] markmandel commented on #266
I worked out the issue here. I needed to set the $GOROOT environment variable, since I had built this binary on a machine with a different GOROOT.

Is this still a bug?

[2015-07-13 04:47] davecheney opened #267 "cmd/gb: new subcommand, info"
This is a request from @freeformz who needs a way to tell if a repo root is a gb project.

My solution is to create a new subcommand `info`, which has output similar to `git status` and an exit code that will be non zero if the repo does not small like a gb project.

[2015-07-13 04:53] davecheney opened #268 "gb: NewProject takes a set of source directories"
This is a feature request from Gophercon.

There are certain organisations that have a mandated (and unique) project layout This layout is incompatible with the `go tool` and also `cmd/gb`, but as gb is designed as a library, we can enable others to build their own build tool with gb components.

Currently `project.go:NewProject()` has a fixed layout which matches the documented `cmd/gb` layout, b

[2015-07-13 05:11] #216 closed

[2015-07-13 14:44] aviflax commented on #233
Thanks @ryan-endacott but I tried that and got no coverage numbers:

[code]

whereas I do when I use `go test`:

[code]

[2015-07-13 14:46] davecheney commented on #233
Avi -- that is a different problem, which I will address.

-cover needs some extra logic in gb test to run the coverage tool over the
output. I'll raise a new issue.

On Mon, Jul 13, 2015 at 8:44 AM, Avi Flax <notifications@github.com> wrote:

[2015-07-13 16:54] mholt opened #270 "gb vendor fetch -tag is applied recursively, causing vendoring to fail"
It looks like the -tag option is being recursed to the dependencies as well, though I'm only assuming that is what is happening based on the output:

[code]

It looks like it's failing because there is no v0.7.2 tag of the toml repository. I'm new to gb, so if this is expected behavior, my apologies.

[2015-07-13 17:54] abiosoft commented on #270
I can confirm this behaviour.

[2015-07-13 20:11] davecheney commented on #270
Yup. That is what is happening, I'll fix it this afternoon.

On Mon, 13 Jul 2015 11:54 Abiola Ibrahim <notifications@github.com> wrote:

[2015-07-13 23:57] #270 closed

[2015-07-14 00:04] davecheney commented on #257
Closed in 31f0b3fdea2ea4407c0050bf01bb0cc2dbd9ac33

[2015-07-14 00:04] #257 closed

[2015-07-14 00:06] davecheney commented on #244
`gb-vendor fetch` now supports recursive fetching of transitive dependencies. Explicitly fetching all dependencies, that is your code in `$PROJECT/src/` and no vendor directory will not be added as it will encourage people to use gb vendor fetch as a replacement for go get, which it is not.

[2015-07-14 00:06] #244 closed

[2015-07-14 02:26] mholt commented on #270
Elegant and quick fix - thanks!

[2015-07-14 03:26] mholt commented on #238
I know this isn't particularly helpful, but +1 for full cross-compilation support. Let me know if there's some way I can help.

[2015-07-14 04:59] mmindenhall opened #271 "New feature: refresh/restore vendored dependencies"
I recently took a look at both `gb` and [wgo](https://github.com/skelterjohn/wgo) to manage dependencies for a new Go project at my company (our first).

I really liked the `wgo restore` command, and would like to propose a similar sub-command for `gb vendor`.  The rationale here is to avoid checking vendored dependencies into my source repo -- i.e., I want to `.gitignore` the `vendor/src` folder.

[2015-07-14 05:06] davecheney commented on #271
I'm sorry but I do not plan to add this feature. Please see #244

[2015-07-14 05:06] #271 closed

[2015-07-14 14:04] PSG-Luna opened #272 "gb does not support ssh:// scheme"
When trying to gb vendor fetch from a vanity URL containing an ssh:// path, which works fine with go get, and also used to work fine in gb, I get the following error:

     FATAL command "fetch" failed: unable to determine remote protocol

[2015-07-14 14:23] davecheney commented on #272
Thanks for the report, this won't be hard to add. Can you send me (privately if you like) the metadata that ends up in the ssh:// repo so I can test the fix.

Ta

[2015-07-14 14:25] PSG-Luna commented on #272
https://code.palmstonegames.com/chttp

[2015-07-14 20:40] #272 closed

[2015-07-14 20:43] #267 closed

[2015-07-14 21:26] davecheney commented on #250
Found the bug, fix coming rsn

[2015-07-14 21:31] #250 closed

[2015-07-14 21:38] davecheney commented on #85
@paxan I'm going to close this for now. I know @freeformz is working on it, and this won't live in the gb project anyway. Please reopen if you disagree.

[2015-07-14 21:38] #85 closed

[2015-07-14 22:28] paxan commented on #85
:+1:

[2015-07-14 22:37] paxan commented on #85
@freeformz I haven't done much on trying to incorporate this into `heroku-buildpack-go` except a real ugly local hack which boils down to:

[code]

And `gb-compile` that is getting `exec`-ed is the verbatim copy of:
https://github.com/paxan/heroku-buildpack-gb/blob/master/bin/compile

@davecheney tells me you've started working on this. If so, I can help with testing it or whatever. Let me know.

[2015-07-14 23:00] freeformz commented on #85
@paxan @davecheney said (at gophercon) that he's going to make a "gb detect" or some such command that I could use to determine if gb thinks it can build a repo. If he delivers that I'll add support in the buildpack, at least experimentally to start.

Technically I guess that's not a blocker, but I'd rather use / rely on something from @davecheney then looking for src/ and vendor/src directories a

[2015-07-14 23:10] paxan commented on #85
`gb detect` would require obtaining the `gb` binary at detect time, wouldn't it?

The buildpack I wrote takes a somewhat unorthodox approach: it assumes `gb` itself is also vendored under `proj/vendor/src/...`, so by design, `gb` source is there already, but needs to be bootstrapped with:

    GOPATH="$(pwd)/vendor" go install github.com/constabulary/gb/...

[2015-07-14 23:19] davecheney commented on #85
yup, that's gb info

On Tue, Jul 14, 2015 at 4:00 PM, Edward Muller <notifications@github.com>
wrote:

[2015-07-14 23:38] #268 closed

[2015-07-14 23:59] davecheney opened #276 "cmd/gb: plugins should expose help to gb help"
This is a request raised at gophercon.

Plugins, \*cough\* gb-vendor \*cough\* should appear in the output for `gb help`.

[2015-07-15 06:23] chakrit opened #277 "gb-vendor: `fetch` should be able to *fix* missing dependencies."
Manually copying dependencies is tedious and error-prone. It's even more tedious when migrating old projects with tons of scripts to use `gb`. Also even more cumbersome and error-prone if we go the git submodules route. Not everyone likes git submodules.

In standard GO workspace, one could simply do `go get ./...` inside the project's folder to automatically fix all its missing dependencies. This

[2015-07-15 13:18] davecheney commented on #277
I am sorry but this is not in line with the goals of gb. This is for the following reasons

1. There is a one time setup cost when converting a project to gb, this is paid by the project owner and is proportional to the number of direct dependencies your code has. `gb vendor fetch` will already fetch any transitive dependencies automatically. On our largest project this involved running gb vendor

[2015-07-15 13:18] #277 closed

[2015-07-15 16:24] davecheney commented on #256
Sorry it's taken me so long to reply. I cannot reproduce this
[code]

Could you please do `go get -u github.com/constabulary/gb/...` and try again. Thanks

[2015-07-16 17:28] ChrisHines opened #279 "$PROJECT/pkg hierarchy not compatible with other go tools."
GB puts compiled packages into `$PROJECT/pkg/$GOOS/$GOARCH`.

The go tool puts compiled packages into `$GOPATH/pkg/$GOOS_$GOARCH`.

This discrepancy breaks tools that use the compiled package files, such as the popular autocomplete daemon [gocode](https://github.com/nsf/gocode#options).

[2015-07-16 20:57] mbueti commented on #129
We're running into a similar issues with our tests. We were previously able to specify ldflags (which we want so that we can select our DB environment based on test/dev/etc). But the most recent versions of gb test balk at this (flag provided but not defined: -ldflags), breaking our test process...

[2015-07-20 04:32] chakrit commented on #277
I understand. Thanks for taking the time to explain it : )

[2015-07-20 05:50] chakrit commented on #100
@davecheney was looking for this as well.

For comparison, in node.js all (explicitly declared) binaries are installed into `node_modules/.bin`. This allows you to version-lock your toolset as well by making sure all your scripts/makefile reference the local binaries inside of global ones. Also means that dev teams do not need anything else besides `node` and `npm` to start working as soon as they

[2015-07-20 17:30] acasajus commented on #175
euh.. Why is the manifest there then? Just for info purposes?

[2015-07-20 20:15] davecheney commented on #175
The manifest file exists to record where the dep came from. I tried to hold
the line and suggest people use git submodules, but people demanded a tool
to manage this for them, and that tool needs to record its actions.

On Mon, 20 Jul 2015 10:30 Adrià Casajús <notifications@github.com> wrote:

[2015-07-21 11:10] acasajus commented on #175
It seems like a half-way solution then. "I'll download the dependencies and write down the version I've got but I won't redownload them in case you need to". A project is certainly buildable without gb-vendor but It makes the life of the devs easier. Why not make it feature-complete? I mean I can make my own tool to complement gb-vendor but I think most of the people would agree with me that it wo

[2015-07-22 19:30] metral commented on #279
I currently symlink my project's pkg/linux/amd64 to pkg/linux_amd64 to allow gocode to keep working with gb

```ln -s linux/amd64/ linux_amd64```

[2015-07-24 22:09] Preetam opened #280 "Vendoring with large dependencies"
We currently use [Johnny Deps](https://github.com/VividCortex/johnny-deps) (jd) for dependency management. The general setup is that I have all of our dependencies in my GOPATH and they're all checked out to specific revisions. Therefore, there is a single copy of all of my dependencies. I can still get reproducible builds by checking out an older revision of my project and having jd checkout the

[2015-07-25 03:41] davecheney commented on #280
I recommend using git submodules, they come at no cost to the repo size as they are effectively the git version of a symlink.

[2015-07-25 03:41] davecheney commented on #280
Opps, I didn't mean to close this.

[2015-07-25 03:42] davecheney commented on #256
Timed out, please reopen when you have a chance to answer the followup questions.

[2015-07-25 03:42] #256 closed

[2015-07-25 03:44] davecheney commented on #100
You can already do this

    % cd $PROJECT/vendor && gb build

[2015-07-25 03:53] davecheney commented on #175
@acasajus to explain my position, I care about reliable builds, and that means, at the moment, copying source code. I appreciate that gb-vendor could be made to operate just from a manifest file, but this is not my goal, and would, as I have said above, quickly devolve into a poor replacement for `go get`.

Having said that, my strong desire is that gb consists of useful reusable pieces. I want _y

[2015-07-25 04:28] Preetam commented on #280
This looks like what I need: [Git: Possible to use same submodule working copy by multiple projects?](http://stackoverflow.com/questions/27379818/git-possible-to-use-same-submodule-working-copy-by-multiple-projects)

[2015-07-25 11:15] newhook commented on #256
Dave,

  Seems to work now.

gb vendor fetch github.com/fsouza/go-dockerclient
skiping symlink: /var/folders/hg/np4sqzds1h58hql8337fvn0r0000gn/T/gb-vendor-384681570/testing/data/symlink

Note that skipping is spelled incorrectly.

[2015-07-25 15:20] davecheney commented on #256
Thanks for confirming, I'll fix up that typo.

[2015-07-26 00:08] davecheney commented on #280
Closing as answered.

[2015-07-26 00:08] #280 closed

[2015-07-26 00:20] davecheney commented on #266
During debugging it was discovered that the version of gb was built on another system with a different GOROOT. This isn't something that gb can support at the moment; you have to built it on the same system, or at least on a system with an identically installed go toolchain.

I'd like to lift this restriction in the future, but I don't have any immediate ideas how to do so.

[2015-07-26 00:20] #266 closed

[2015-07-26 08:47] MerlinDMC commented on #279
Here is a quickly patched gocode that will work in gb projects once you have build them:

https://github.com/MerlinDMC/gocode (https://github.com/MerlinDMC/gocode/commit/85c63bdec7cd2dc6531cf2cb52d243a914ce6744)

I use that with vim-go and it looks sane enough for me :dancers:

[2015-07-26 10:37] MerlinDMC commented on #279
This patch has been merged upstream ... so hopefully after you upgrade your gocode binary it should "just work"

[2015-07-27 09:44] acasajus commented on #175
I fail to see how copying files by hand is less error prone than git/hg fetching them with a sha reference. I understand that google's take is to put all the deps in the repo. But many of us are happy with just adding the references to the deps with the commits stored.

That said, I just made a PR for go-vendor. I could just fork go-vendor into something like go-deps. If you prefer that I'll close

[2015-07-29 10:25] davecheney commented on #175
Thank you for your persistence here, you've won me over -- let's try it and see what others think.

I have some concerns that not including the source of a dependency will mean users of this mode will have to

[2015-07-29 10:28] davecheney commented on #175
Closed in #281

[2015-07-29 10:28] #175 closed

[2015-07-29 21:15] mbrevoort opened #282 "gb vendor fetch fails when Githhub two factor auth enabled"
I disabled Github two factor auth and fetched a private repo successfully:

[code]

Then I re-enabled Github two factor auth and `gb vendor fetch` fails for the same private repo
[code]

[2015-07-29 21:19] mbrevoort commented on #282
Also, is there a way for `gb vendor` to user my ssh key and clone over ssh rather than asking me for credentials every time?

[2015-07-29 21:30] mbrevoort commented on #282
Somewhat related (with two factor auth disabled), it also seems to ask me for credentials twice and then each time for a recursive dependency.

[code]

[2015-07-29 22:01] davecheney commented on #282
Thanks for the report. I do not know offhand if we even try the git+ssh
scheme by default. The problem with probing for schemes is the correct
order depends on your point of view -- most people want https to be proved
first, and that will succeed, but will prompt you for credentials often.

On Thu, 30 Jul 2015 07:19 Mike Brevoort <notifications@github.com> wrote:

[2015-07-29 22:02] davecheney commented on #282
That behaviour is because we probe, then checkout. See previous discussion
of auto detecting the scene.

On Thu, 30 Jul 2015 07:30 Mike Brevoort <notifications@github.com> wrote:

[2015-07-30 13:07] mickep76 opened #283 "This might be a useful example"
This was a sample app. I wrote as a tutorial, might be useful to others thought.

https://github.com/mickep76/go-sampleapp

- Still needs some unit testing otherwise quite a complete example

[2015-07-31 15:29] oconnor663 opened #284 "structuring a project to build with gb but also to be friendly to `go get` et al"
It doesn't seem like it's possible to create a project that will build with `gb build` while *also* being friendly to people fetching my project with `go get`. Have I missed anything obvious?

I've created an example project at https://github.com/oconnor663/gbexample. It looks like this:

[code]

This builds and runs great with `gb build`. But if I try to fetch and build with the regular Go tool,

[2015-07-31 16:48] oconnor663 commented on #284
Or am I totally missing the point? Is the right way to do this to

1. use the standard project layout (*without* an internal `src/...` hierarchy),
2. clone the project at its normal spot in the `GOPATH`, and then
3. run `gb build` from the root of the `GOPATH` instead of the root of my project?

[2015-08-02 02:07] davecheney commented on #284
I'm sorry for not replying in detail. You have not missed anything, gb projects are not go gettable. This is very much by design; if gb was just another tool that tried to work within the limitations of GOPATH and go get, what would be the compelling factor for people to use it ?

[2015-08-02 02:07] #284 closed

[2015-08-02 02:08] davecheney commented on #284
Sorry to close the issue, if you want to reopen it, or create a new issue with some actionable points, please do so.

[2015-08-02 03:23] oconnor663 commented on #284
No worries. Out of curiosity, do you have any particular plans for making gb compatible with the vendoring features coming in go 1.5?

[2015-08-02 03:25] davecheney commented on #284
No, there are no plans. The go 1.5 vendor change is not applicable because gb does not use go get and gb projects are not go gettable.

[2015-08-02 12:49] adred opened #286 "FATAL command "fetch" failed: fetch: import path missing"
Pls tell me what am I doing wrong?

[code]

[2015-08-02 13:05] davecheney commented on #286
please try

gb vendor fetch -revision fd.... $URL

On Sun, Aug 2, 2015 at 10:49 PM, Red J Adaya <notifications@github.com>
wrote:

[2015-08-02 23:42] #286 closed

[2015-08-03 01:43] #282 closed

[2015-08-03 01:56] davecheney commented on #227
timed out

[2015-08-03 01:56] #227 closed

[2015-08-03 07:29] davecheney commented on #279
Duplicate of #202

[2015-08-03 07:29] #279 closed

[2015-08-03 07:31] davecheney commented on #202
The underlying issue is the layout of .a files inside $PROJECT/pkg is not compatible with the `golang.org/x/tools/go/loader` package.

I don't want to make it compatible because that would make it harder to implement incremental compilation in the face of -tags and other conditional constructs.

[2015-08-03 09:58] pires opened #289 "Cross-compilation broken with Go 1.5?"
I'm a MacOS 10.10.x user and this `Makefile` used to work for me with `go 1.4.2` and a two month old `gb` release:
[code]

Now with `go 1.5-beta3` and latest `gb`, it doesn't.

[code]

Any idea why?

[2015-08-03 09:59] PSG-Luna commented on #289
It seems you didn't build the stdlib for GOOS=linux and ARCH=amd64 yet ?

On Mon, Aug 3, 2015 at 11:58 AM, Paulo Pires <notifications@github.com>
wrote:

[2015-08-03 10:00] tianon commented on #238
Isn't this technically a dupe of #31?

[2015-08-03 10:00] tianon commented on #289
Isn't this technically a dupe of #31 (since cross-compilation support doesn't really officially exist in "gb" yet)?

[2015-08-03 10:00] davecheney commented on #289
gb needs to be built with the version of go you want to use. If you have update to 1.5beta3, please try rebuilding gb with that version.

Please note that cross compilation is not done (yet), so if works, that's unexpected.

[2015-08-03 10:32] davecheney commented on #238
Duplicate of #31

[2015-08-03 10:32] #238 closed

[2015-08-03 11:01] pires commented on #289
Ah, my bad. I forgot to compile `go` with `--with-cc-common`. The following fixed it and it's working again:
[code]

Now, `make` is happy!

[2015-08-03 11:01] #289 closed

[2015-08-03 11:02] davecheney commented on #289
Glad to hear it.

Fortunately when 1.5 ships, that flag will no longer be necessary.

On Mon, Aug 3, 2015 at 9:01 PM, Paulo Pires <notifications@github.com>
wrote:

[2015-08-03 11:14] davecheney commented on #31
Cross compilation is explicitly disabled in d5a861b6f83f06511871144e1759553d4e67e877 and now you get an error telling you why
[code]

[2015-08-03 11:51] pires commented on #289
Awesome @davecheney! Thank you for `gb`.

[2015-08-03 21:51] Luit commented on #262
Fedora's 1.5betaX packages seem to have less broken behavior, symlinking instead of moving the binaries to the linux_amd64 folder

[2015-08-04 06:44] drichardson opened #290 "gb build all fails when building sqlite3 package"
gb build all fails when building sqlite3 go package (https://godoc.org/code.google.com/p/go-sqlite/go1/sqlite3).

go get + go build works fine

**Steps to Reproduce**
1. `git clone https://github.com/drichardson/gb_sqlite_test.git`
2. `cd gb_sqlite_test`
3. `gb build all`

**Results**
[code]

[2015-08-04 07:29] davecheney commented on #290
Thanks. I'm looking at this this week. There are a few missing cgo features which gb doesn't have yet which make this a non trivial bugfix.

[2015-08-04 07:45] davecheney commented on #290
Oh, it turns out it wasn't as hard as I thought. Please pull the latest, rebuild and test it out.

Thanks for providing the simple repo, much appreciated.

[2015-08-04 07:45] #290 closed

[2015-08-04 07:48] davecheney commented on #290
I think this is fixed, but there is an error in your sample code, both gb and go cannot build it
[code]

Please reopen this bug if you cannot correct this error.

[2015-08-04 07:50] davecheney commented on #121
@PSG-Luna could you please update to the latest and see if the change I landed today has fixed this issue ? I cannot verify the fix myself as I don't have access to the correct zeromq bits. Thanks

[2015-08-04 08:00] PSG-Luna commented on #121
@davecheney Yes, I'll do so today

[2015-08-04 08:11] davecheney commented on #121
Thanks. It's hard to test these cgo issues if I don't have the right c
environment. Working in go has made me soft.

On Tue, 4 Aug 2015 18:01 Luna Duclos <notifications@github.com> wrote:

[2015-08-04 14:38] drichardson commented on #290
The fix works. World record for fastest bug fix.

And yeah you're right, I made a mistake when I translated the error I was getting into the sample repo. My bad.

[2015-08-06 00:47] asmaloney opened #291 "buildmode not recognized {go 1.5}"
Trying to use `gb build -buildmode=c-archive` with go 1.5:

[code]

[2015-08-06 00:54] davecheney commented on #291
Sorry, none of the build modes are supported in gb yet. I don't have a timeline to add those features yet as many of those build modes target libraries, and gb is primarily focussed on building projects, applications.

[2015-08-06 01:07] asmaloney commented on #291
Alright - thanks!

[2015-08-06 01:21] metral opened #292 "FATAL command "build" failed: Gc: no Gofiles provided"
The new commit: https://github.com/constabulary/gb/commit/107eaaa57b50166458992db6d66ee844d258986b is causing this fatal build issue.

In a GB project with ./bin & ./pkg empty, doing a `gb build all` builds all the pkg's but, crashes at the end

[2015-08-06 01:22] davecheney commented on #292
Thanks for the error report, can you please include the full build output, and with -v if you can.

[2015-08-06 02:01] metral commented on #292
Sorry, i just noticed that the issue was on my end.

I had a barebones package with files declaring the package name and nothing else in the files themselves, and that was the cause of the issue. Closing

[2015-08-06 02:01] #292 closed

[2015-08-07 13:40] fzerorubigd opened #293 "CGO : gb failed when go succeed"
I have a simple c library and I want to use it with go.
the cgo hint is like this :
```// #cgo pkg-config: libzip libxml-2.0 libexslt```
the go build works fine, but I get error with gb :

[code]

I use a dockerized debian jessie container with go 1.4.2 and the current gb 107eaaa57b50166458992db6d66ee844d258986b

I can not publish the source code here, but I can provide it to you if you need it.

[2015-08-08 08:08] davecheney commented on #293
Thanks. This is due to missing support for cgo packages that rely on
pkg-config.
On 7 Aug 2015 11:40 pm, "fzerorubigd" <notifications@github.com> wrote:

[2015-08-08 21:03] thockin opened #294 "Do-nothing build takes 25 seconds"
I reorganized the kubernetes (http://github.com/GoogleCloudPlatform/kubernetes) code into a gb project, with all our Godeps moved to vendor/src/.  `gb build` runs successfully.  Immediately running a second `gb build` (which obviously does nothing!) takes 25 seconds.

Can someone explain why this second build doesn't complete approximately instantly?

[2015-08-08 22:16] davecheney commented on #294
Thanks for your report. Can you include the output of gb build -v which
will print timing information.

Thanks

Dave

On Sun, Aug 9, 2015 at 7:03 AM, Tim Hockin <notifications@github.com> wrote:

[2015-08-08 23:01] thockin commented on #294
https://gist.github.com/thockin/3eb57512f56954e04343

[2015-08-09 00:21] davecheney commented on #294
ok, so what is going here is gb will always rebuild the final binary, that
is to say, it caches everything except the final binary. I think the
argument at the time was, if you said gb build, you want it to build
something, but given you example that doesn't make a lot of sense as you
have a lot of binaries and probably most of them are not stale all the time.

I'll change gb to not rebuild the fi

[2015-08-09 00:25] thockin commented on #294
Honestly, if GB can get the do-nothing case down to a second or two, I
might make the case to use it.

It's a tough sell to be so "non-standard", but someone has to be an early
adopter.  We will have a lot of tooling issues to think about.  Overall, I
just miss having a Makefile to add my special cases.  Instead, we wrap 'go
build' in a script.  Puke.

Need to sort out how to properly deal with ge

[2015-08-09 02:13] davecheney opened #296 "gb vendor fetch code.google.com/p/go-sqlite/go1/sqlite3 fails"
% gb vendor fetch code.google.com/p/go-sqlite/go1/sqlite3
requesting all changes
adding changesets
adding manifests
adding file changes
added 50 changesets with 128 changes to 29 files
updating to branch default
21 files updated, 0 files merged, 0 files removed, 0 files unresolved
FATAL command "fetch" failed: lstat /tmp/gb-vendor-579304939/sqlite3: no such file or directory
FATAL command "vendor"

[2015-08-09 09:51] fzerorubigd commented on #293
Is there any workaround to handle this?

On Sat, Aug 8, 2015 at 12:38 PM, Dave Cheney <notifications@github.com>
wrote:

--
-----------------------------
http://fzero.rubi.gd

[2015-08-09 09:54] davecheney commented on #293
Not at the moment, but implementing this feature is high priority for me.

On Sun, 9 Aug 2015 19:51 fzerorubigd <notifications@github.com> wrote:

[2015-08-09 11:43] #296 closed

[2015-08-09 22:40] davecheney commented on #294
I spent yesterday working on this, and by working on this I mean noodling
with an integration test for this, and by that I mean downloading all the
dependencies for k8n. Damn, there are a lot of them, I though juju was bad.

Anyway, I think the fix should be simple, but I need to set up a test
harness first to verify the fix.
On 9 Aug 2015 10:25 am, "Tim Hockin" <notifications@github.com> wrote:

[2015-08-09 23:25] davecheney commented on #294
I'm sorry, I didn't intend for that last update to come out as complainy as it did.

What I meant to say was, I think your issue is important, but while preparing to work on it yesterday I ended up spending a lot of time on plumbing, and didn't get to the point of changing the code. I hope to be more productive today.

[2015-08-10 01:15] thockin commented on #294
That was how I interpreted it, no swear :)

We have a big scope in a single repo, with a lot of deps.  We acknowledge
that is part of the problem :)
On Aug 9, 2015 4:25 PM, "Dave Cheney" <notifications@github.com> wrote:

[2015-08-10 20:13] ChrisHines opened #298 "gb vendor: fetching a "parent" package copies nested packages to vendor dir."
`$ gb vendor fetch -no-recurse github.com/go-kit/kit/log`

Note that `github.com/go-kit/kit/log/levels` also exists in vendor dir, and is not registered in the manifest.

[2015-08-10 20:26] ChrisHines opened #299 "gb vendor: deleting a "parent" package deletes nested packages from vendor dir."
[code]

Note that package `golang.org/x/sys/windows/registry` no longer exists in vendor dir, but is still registered in manifest.

Neither of these two packages depends on the other.

Trying to delete `golang.org/x/sys/windows/registry` now panics.

[code]

[2015-08-10 21:29] davecheney commented on #299
Damnit. It's specifically not supposed to do this.

On Tue, Aug 11, 2015 at 6:26 AM, Chris Hines <notifications@github.com>
wrote:

[2015-08-10 22:06] davecheney commented on #298
Yup. Gb vendor assumes it has complete control over the vendor directory. I
will enhance this to bail out of vendoring a dependency will overwrite
existing contents.

On Tue, 11 Aug 2015 06:13 Chris Hines <notifications@github.com> wrote:

[2015-08-10 22:07] davecheney commented on #294
I have a branch which reduces the do nothing case to effectively zero.
After a few more tweaks I should have something to propose today.

On Mon, 10 Aug 2015 11:15 Tim Hockin <notifications@github.com> wrote:

[2015-08-10 23:51] ChrisHines commented on #298
An additional concern with the current behavior is that vendoring a package also copies all of its nested packages, **even if they are not needed or wanted**. The result is that project code can import the unrequested packages, and those packages are not tracked in the manifest.

I would prefer `gb vendor` not to populate the vendor/src tree with packages not explicitly fetched or discovered while

[2015-08-10 23:55] davecheney commented on #298
Can you

1. please open a new issue
2. give a concrete example of this. recursive dependency fetching should always walk from roots in the code from $PROJECT/src, not $PROJECT/vendor/src.

Having said that, gb vendor always vendors the entire repo that holds a particular import path. I think this is the least surprising way to do this.

[2015-08-11 00:02] ChrisHines commented on #298
I see. That's not what I expected. Given my example above, I don't really want project code importing `github.com/go-kit/kit/log/levels` unless that package has been fetched and added to the manifest. I also don't necessarily want such packages filling up my project repository if they aren't being used.

[2015-08-11 00:10] davecheney commented on #298
This is unavoidable, it something imports `github.com/go-kit/kit/log`, then we'll fetch `github.com/go-kit/kit` and copy the `log` subdirectory downwards. In fact even doing that is a mistake because `github.com/go-kit/kit/log` may depend on `github.com/go-kit/kit/log/levels` which may depend on `github.com/go-kit/kit`. So in fixing this issue I may end up vendoring more code than you asked for, n

[2015-08-11 00:46] ChrisHines commented on #298
I think the current behavior is confusing because `gb vendor fetch` always recursively copies nested packages, and optionally recursively fetches dependencies. Furthermore, dependency based recursion updates the manifest, but nesting based recursion does not. This difference results in sometimes surprising behavior by other vendor sub-commands.

I'm not sure what fix you had in mind. The fix that

[2015-08-11 00:53] davecheney commented on #298
I think this will be confusing. There will be parts of the vendored package which are visible in the source repo, but are missing in the vendored copy.

In the example you gave, cherry picking packages out of repos will exacerbate the other issue you raised where removing one vendored dep caused another one to be removed.

To be clear, vendoring wastes disk space, I'm not going to address this wit

[2015-08-11 01:14] ChrisHines commented on #298
I am not sure how we would end up with more code getting vendored, but let's put that aside.

Perhaps I am misunderstanding the suggested workflow for `gb vendor` in the face of nested packages. Is it not recommended to do the following?

[code]

Do we not want both packages in the manifest if they are both in the transitive import set of code under $PROJECT/src?

If not, then what should be done

[2015-08-11 01:18] davecheney commented on #298
The first command, `gb vendor fetch github.com/user/repo` should prevent the second from succeeding as `github.com/user/repo/nested` is already covered by `github.com/user/repo`. If that does not happen it is a bug, but I think one I've already tried to fix.

Bad things, some effort has been made to handle this, but there are still edge cases.

This is not true, gb vendor does not vendor _package_

[2015-08-11 01:36] ChrisHines commented on #298
OK. That's where I was going off the rails. I don't think that is clearly documented anywhere that I have seen. I think I was misled by the Path field on the [vendor.Dependency](http://godoc.org/github.com/constabulary/gb/vendor#Dependency) struct.

Does that mean that `gb vendor fetch github.com/user/repo/nested` should never be allowed? Or should `gb vendor` find the repo root and vendor the who

[2015-08-11 01:39] davecheney commented on #298
What it does now is fetch olny repo/ nested, which has a lot of fought edges, I think what I will do is change it to work like the go tool which always figures out the root of the repository and fetches the whole thing. I'm surprised that nobody has been bitten by this yet. I guess few use this feature.

[2015-08-11 01:39] davecheney commented on #298
Oh, and it's certainly not your fault. This is something I'm still coming to understand fully as I explore the problem space.

[2015-08-11 01:49] ChrisHines commented on #298
OK. Thanks for the quick answers. It sounds like the discussion helped clarify some things for you as well. Closing this issue with a much better idea how to use `gb vendor` as intended and better equipped to spot real issues. :smile_cat:

[2015-08-11 01:49] #298 closed

[2015-08-11 04:49] thockin commented on #294
I am itching to try it.

On Mon, Aug 10, 2015 at 3:07 PM, Dave Cheney <notifications@github.com>
wrote:

[2015-08-11 09:32] chakrit opened #300 "gb-vendor: `purge` command fails with `golang.org/x/tools/go/loader/testdata` package inside vendor/."
In one of my project codebases, when trying to switch a branch for a dependency, I ran:

[code]

The last command results in:

[code]

It seems the imports scanner is (corretctly) being overeager in scanning the imports so it picks up a bad test data file that it should not need to care about. So it failed to purge the package.

How to resolve this besides manually deleting those packages (which m

[2015-08-11 09:32] chakrit commented on #300
Will update with a more specific repro later this week if I can.

[2015-08-11 10:05] davecheney commented on #300
Thanks. That's the clue I need, itll be fowling on testdata/

This should be pretty simple to fix if you want to try.

On Tue, 11 Aug 2015 19:32 Chakrit Wichian <notifications@github.com> wrote:

[2015-08-12 06:03] #294 closed

[2015-08-12 06:54] thockin commented on #294
Hallelujah, confirmed!

Now to see if I can glue together a process around what we do with godeps
and tests

On Tue, Aug 11, 2015 at 11:03 PM, Dave Cheney <notifications@github.com>
wrote:

[2015-08-12 06:55] thockin commented on #294
thanks

On Tue, Aug 11, 2015 at 11:54 PM, Tim Hockin <thockin@google.com> wrote:

[2015-08-12 06:55] davecheney commented on #294
Nice. Please send bug reports.

On Wed, Aug 12, 2015 at 4:54 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-08-12 07:55] davecheney commented on #121
@PSG-Luna ping, any luck >

[2015-08-12 09:24] davecheney commented on #293
@fzerorubigd is the source of this application available so I can try to reproduce the problem ?

[2015-08-12 09:50] #300 closed

[2015-08-12 13:28] fzerorubigd commented on #293
Sorry for delay. I get the permit to publish this file.
The Go code is created from two C source code (a c and a h file) for prevent another .so file.

https://transfer.sh/1cwDYE/ccode.go

[2015-08-13 00:14] davecheney commented on #293
Thanks for that sample code, I've found a few bugs which will be fixed shortly.

[2015-08-13 00:38] davecheney commented on #121
ok, i have confirmed the problem, it's a lack of support for pkg-config --libs. Fix coming.

[2015-08-13 01:51] #121 closed

[2015-08-13 01:52] davecheney commented on #293
@fzerorubigd #301 should help. I tried to reproduce your example but couldn't get the right packages installed on ubuntu.

[2015-08-13 08:08] davecheney commented on #162
@newhook can you please try now #301 has landed.

[2015-08-13 14:06] fzerorubigd commented on #293
In debian I need to install `libzip-dev` , `libxslt1-dev` , `libxml2-dev` to build this one, Currently I have no Ubuntu machine to test it on that.
I check with the current head, c1ed8e2185ccd8ea0b29cdc1330edb0dd34ccd78 and problem exists, the log is :

[code]

And the go build log, with -x flag :

[code]

Hope this help.

[2015-08-13 21:29] e11it opened #302 "gb vendor fetch, unable to determine remote metadata protocol"
Hi!

Geting error: unable to determine remote metadata protocol

OS: Mac OS X
Git Server: gitlab

1.
[code]
Or without -precaire
[code]

2. Without '.git' in url path

[code]
Here is curl output:
[code]

[2015-08-14 01:45] bketelsen commented on #97
Jumping into the pool here.  My use case is from a CI environment.  Using a docker build image like so:

[code]
Because gb is installed in the GOPATH/bin directory, I can't bind-mount the GOPATH/bin directory to get the binary I've built back out of the container (because there'd be no gb binary to build) -- chicken & egg.

If I could specify an output directory, I could bind an /output directory

[2015-08-14 01:48] davecheney commented on #97
I don't understand what you are saying, gb builds binaries into `$PROJECT/bin`. It sounds like you need to bind mount $PROJECT into your docker container.

[2015-08-14 01:50] bketelsen commented on #97
aha!  My problem is that project/bin and GOPATH/bin are one and the same.  You're brilliant.

[2015-08-14 03:46] #114 closed

[2015-08-14 04:00] davecheney commented on #293
Fixed in #304

[2015-08-14 04:01] #293 closed

[2015-08-14 08:21] fzerorubigd commented on #293
Thank you! it is fixed.

[2015-08-14 08:28] davecheney commented on #293
Thanks for confirming. I think I squashed a lot of bugs with one commit today.

[2015-08-14 15:26] mickep76 commented on #283
Added an example for building an Alpine Go image using gb:

https://github.com/mickep76/go-sampleapp-docker

Build image:

https://github.com/mickep76/alpine-golang
https://hub.docker.com/r/mickep76/alpine-golang/

[2015-08-15 00:16] davecheney commented on #283
Thanks Michael,

How should we integrate this into the gb documentation?

On Sat, 15 Aug 2015 01:26 Michael Persson <notifications@github.com> wrote:

[2015-08-16 03:25] davecheney opened #306 "Package resolution code needs to be rewritten"
To support #32 the package look up code, currently inherited from `go/build` will need to be replaced so that the Project.srcdir list can explicitly include $GOROOT, rather than inheriting it by magic.

[2015-08-16 16:00] linuxerwang opened #307 "gb not working with git2go"
My project needs to use https://github.com/libgit2/git2go. To statically compile with git2go, we have to compile libgit2 statically and git2go provides a "next" branch and scripts to build.  Since in gb vendor the .git was not reserved I can't use "git submodule" to fetch libgit2. Also the scripts provided by git2go doesn't work in vendor mode.  So here is what I did:

$ mkdir /tmp/test-git2go
$ c

[2015-08-16 16:24] linuxerwang commented on #307
Hmm, I pasted the wrong error message.  The output is big, please download this file: https://drive.google.com/open?id=0BwrTqzph0i12N0laQ1BHVW9VY2M

[2015-08-16 21:41] davecheney commented on #307
Thanks for reporting your issue. gb is blowing up because of this flag you passed

    export CGO_LDFLAGS="/tmp/test-git2go/vendor/src/github.com/libgit2/git2go/vendor/libgit2/build/libgit2.a

Is that correct, or is it missing a prefix like -o or -i or something ?

[2015-08-16 21:56] linuxerwang commented on #307
Hi, Dave

I got the env vars from the git2go scripts:https://github.com/libgit2/git2go/blob/next/script/with-static.sh

Because I can not use this script directly under gb vendoring, I simple run it without args and copied out the env vars.  It worked for git2go with ./script/with_static.sh go install ./...

Without gb, I use this Makefile to build:

https://github.com/libgit2/git2go/blob/next/Mak

[2015-08-16 22:24] davecheney commented on #307
Thanks for that. I still hold that what that script provides is not a flag,
it doesn't start with a hyphen.

That said, if it works with the go tool, I need to figure out why it
doesn't work with gb.

On Mon, 17 Aug 2015 07:56 linuxerwang <notifications@github.com> wrote:

[2015-08-16 23:56] linuxerwang commented on #307
Right. Please have a try on compiling git2go with "next" branch as in git2go web site. Another thing bewildered me is how to gracefully handle git submodule with gb. So far I have to git clone manually.

Thanks!

[2015-08-17 00:05] davecheney commented on #307
Place your git submodules in `$PROJECT/vendor/src/`

[2015-08-17 03:51] eparis opened #308 "gb fails when pwd has a symlink"
Below is a reproducer script. You will see gb build work once and fail once. The second time it looks like gb is figuring out the absolute/real path of cwd and then doing ../../../ type operations in relation to the absolute path. But linux is obviously interpreting those in relation to pwd....

[code]

[2015-08-17 06:03] davecheney commented on #307
@linuxerwang Further to what I wrote previously, gb expects all the source for the project to be present in `$PROJECT/src` or `$PROJECT/vendor/src`. How that source gets there is really up to you. You could vendor it all (possibly with the gb-vendor plugin, or manually), or set up git submodules at the correct locations in `$PROJECT/vendor/src/...`. It's really up to you what works best with your

[2015-08-17 06:29] linuxerwang commented on #307
No problem with this point.  I think my issue is caused by how git2go manages its dependency on libgit2.  In git2go source it has a .gitmodule for the correct version of libgit2.  But "gb vendor fetch" removed the git information. I guess I can add a git submodule in my project, instead. Will try it later.

Thanks.

[2015-08-17 06:37] mickep76 commented on #283
I'll have a look and see how it could be integrated.

[2015-08-17 22:16] dinedal commented on #12
Hi, wondering if there are still plans for `cgo` support?

[2015-08-17 22:30] davecheney commented on #12
Hi Paul,

Cgo support is mostly working these days. With the exception of this issue
and one other one that is waiting for confirmation, there are no other open
cgo issues.

Could you please test your project and raise an issue if you encounter bugs.

Thanks

Dave

On Tue, 18 Aug 2015 08:17 Paul Bergeron <notifications@github.com> wrote:

[2015-08-17 22:37] dinedal commented on #12
I was directed to this issue by a failure when I attempted to use gb for my project:

[code]

[2015-08-17 22:41] davecheney commented on #12
Hi Paul,

I think you have an outdated version. Gb is moving very quickly, please
update to the latest available.

http://getgb.io/docs/install/

Thanks

Dave

On Tue, 18 Aug 2015 08:37 Paul Bergeron <notifications@github.com> wrote:

[2015-08-17 22:47] dinedal commented on #12
D'oh, sorry to have bothered you :) that worked, thanks!

[2015-08-17 22:49] davecheney commented on #12
S'ok, not your fault. Hopefully before the end of the year gb will have a
more predictable release story.

On Tue, 18 Aug 2015 08:47 Paul Bergeron <notifications@github.com> wrote:

[2015-08-18 04:49] linuxerwang opened #309 "gb build a binary with given name"
Similar to "go build" supports -o flag, I feel it would be better if "gb build" supports specifying binary name:

gb build -o myserver package/.../crm_server

Thanks.

[2015-08-18 04:59] davecheney commented on #309
Can you please explain why you need this feature. See #97

[2015-08-18 06:55] davecheney commented on #308
@eparis  I'm really sorry but gb takes the same position on symlinks that the go tool does. Symlinks are not support inside `src/` directories because they permit the same source to appear more than once in the tree.

I know this isn't the whole of this issue report, but I wanted to my position on symlinks clear to set your expectations appropriately.

[2015-08-18 14:08] linuxerwang commented on #309
The main reason is to use gb with bazel. In bazel, a best practice is that the binary name is the same as the target name, and target name can be anything (might different from the folder containing main package). This is important because the built binary might be used by other targets, like a target to build deb file.

[2015-08-18 15:59] nullstyle opened #311 "gb test: behavior for test-less package differs from `go test` behavior."
Hi!

It looks like the behavior of `gb test` has recently changed.  The process exits with status 1 when the provided package has no test files, whereas previous behavior (and current behavior of `go test`) would exit successfully.

Having a successful exit when there are no test files in a package allows for simpler CI scripts, since I need not inspect a package to see if it has any tests.  Any c

[2015-08-18 17:45] eparis commented on #308
I found/know that symlink issue as well.  I really wanted a `filepath.WalkFollowLinks()` but I understand. But you're right, that's not this bug report.

In this case the problem is the symlink in `pwd` not in/below `src`. If I cd to the exact same `pwd` using the realpath everything works just fine.

You're right, I also have a symlink under `src/` which means I can't just use `gb build` I have t

[2015-08-18 20:07] divoxx commented on #100
I have the same issue. Some vendored packages that I explicitly included in my project have binaries that helps with the tooling and build of my application.

For example, `go-bindata` can embed assets and `migrate` can manage database migrations.

Would be really cool to either have `gb vendor build` (or another cmd) to build the binaries in my vendor folder but only for the packages that I expli

[2015-08-19 00:19] davecheney commented on #100
@divoxx I believe you have that today

    pushd $PROJECT/vendor && gb build && popd

will do the same as `gb vendor build`

This sounds like a bug.

[2015-08-19 00:36] davecheney commented on #309
If gb were to place binaries into `$PROJECT/bin/$GOOS/$GOARCH` would this satisfy your requirement ?

[2015-08-19 02:01] linuxerwang commented on #309
No. In bazel the binary would be in a folder as follows (suppose the bazel target is //src/x/y/z:my_binary):

$Project/
    |- bazel-bin/
    |      |- src/
    |           |- x/
    |               |- y/
    |                   |- z/
    |                       |- my_binary
    |- src/
          |- x/
              |- y/
                  |- z/
                      |- main.go

[2015-08-19 02:18] davecheney commented on #309
I'm sorry, I was confused, I thought you were talking about this
https://bazil.org/fuse/ project.

It looks like bazel has a prescribed project layout which is incompatible
with gb's layout. I'm not sure adding extra flags to gb to make it put
things in the places bazel expected is the right solution. I think bazel
should build Go projects directly without shelling out to gb. What do you
think abo

[2015-08-19 03:31] linuxerwang commented on #309
You are right, bazel (http://bazel.io) has its own project layout. But currently bazel team hasn't determined how to support golang in bazel so that it works for both Google internal and external projects. So the status quo now is that bazel has no golang support at all. But I really want to use both gb and bazel.  Also, I guess even if bazel added go build support it wouldn't support go vendoring

[2015-08-19 09:56] davecheney opened #312 "gb test of a package which contains only external tests fails"
Reported by @ardan-bkennedy
[code]

[2015-08-19 10:19] #312 closed

[2015-08-19 19:47] tianon opened #313 "Tests here require network access"
The tests currently (rightfully so) require network access in order to test things like resolving import paths like `git.eclipse.org/gitroot/paho/org.eclipse.paho.mqtt.golang.git` to the proper remote VCS repo.

Would you be open to either build tags to exclude those tests, or having `go test -short` exclude them for running the rest of the test suite networkless?

[2015-08-19 22:26] davecheney commented on #313
The tests should be skipped in -short mode.

On Thu, Aug 20, 2015 at 5:47 AM, Tianon Gravi <notifications@github.com>
wrote:

[2015-08-19 23:52] tianon commented on #313
Oh, you've already got that.  Doh!  Sorry for the wasted time!

![](https://upload.wikimedia.org/wikipedia/commons/3/3b/Paris_Tuileries_Garden_Facepalm_statue.jpg)

[2015-08-19 23:52] #313 closed

[2015-08-19 23:53] davecheney commented on #313
No need to apologise, it reminded me to go and check if I had actually
implemented that feature.

On Thu, Aug 20, 2015 at 9:52 AM, Tianon Gravi <notifications@github.com>
wrote:

[2015-08-19 23:59] tianon commented on #313
:metal: :heart:

[2015-08-20 01:44] tianon commented on #313
Just to follow up -- I've tested now and this is working very successfully. :+1:

[2015-08-21 01:51] mem opened #314 "Some tools expect vendor binaries to be under vendor/pkg"
Hi,

I ran into an issue with gocode today. I have a test project set up like this:

src/a/a.go:
[code]

src/vendor/b/b.go:
[code]

(the weird "b." line is to demonstrate the autocompletion issue with gocode)

I start the gocode server like this:

    $ gocode -s -sock unix -addr localhost:37373 -debug

and run the client like this:

    $ gocode -in src/a/a.go autocomplete 43
    Nothing to compl

[2015-08-21 12:27] mem commented on #314
I should note this here as well: the issue manifests itself with gocode built with Go 1.5, but not with gocode built with Go 1.4. I haven't narrowed down the change in Go 1.5 that causes this.

[2015-08-21 12:55] vstarodub opened #316 ""clone" mode for gb-vendor"
It would be convenient to be able to optionally clone vendored paths as proper repositories.

Use scenario:
I've got project repo and a shared repo. I'm developing a feature in the project repo and need to add some supporting code to the shared repo. I want able to write/test/commit the supporting code inside the "vendor/" dir.

Currently with gb, it looks like I've got following options:
1) Manua

[2015-08-21 12:58] davecheney commented on #316
All the logic is there in the manifest format to implement this. It's on
the backlog, but not near the tip. If you want to tackle it, I'd welcome
the assistance.

On Fri, 21 Aug 2015 22:55 Victor Starodub <notifications@github.com> wrote:

[2015-08-21 13:34] vstarodub commented on #316
Sure, I'll give it a try.

[2015-08-21 13:38] davecheney commented on #316
The trick is to use the prefix field of the manifest to strip out the import path prefix that TV projects have.

[2015-08-22 04:23] nsf commented on #314
So, ugm, but do you actually build "b"? Gocode works only with binary packages. From what I've seen above, context.Import actually finds the package, so what's the problem?

[2015-08-22 04:26] nsf commented on #314
I mean if context.Import returns the right path, the only place later where gocode fails is this line: https://github.com/nsf/gocode/blob/master/declcache.go#L300

Unless "autobuild" feature is turned on. So, yeah, binary package, is it actually there?

[2015-08-22 04:28] nsf commented on #314
Or maybe the path is wrong, sorry, this vendoring thing is very confusing to me. :D I should read the docs first.

[2015-08-22 05:01] nsf commented on #314
@mem may I ask where GB_PROJECT_DIR comes from? I see gb uses it internally somewhat. But what makes you think it is set to something externally and globally?

[2015-08-22 05:03] davecheney commented on #314
It's the root of the gb project. So whenever people talk about the gb
project, or use the form $PROJECT/src, that's GB_PROJECT_DIR. It's also
inserted into the environment of any gb-plugin.

On Sat, Aug 22, 2015 at 3:01 PM, nsf <notifications@github.com> wrote:

[2015-08-22 05:08] nsf commented on #314
@davecheney Yeah, I understand, but @mem says he does: `GOPATH=${GB_PROJECT_DIR}:${GB_PROJECT_DIR}/vendor gocode -in src/a/a.go autocomplete 43` and it doesn't help. Which looks weird to me. Like is it the actual command he uses? Why would GB_PROJECT_DIR be set in his shell environment. The only debug output from gocode I see is without GOPATH set. So what if GB_PROJECT_DIR isn't even set to anyth

[2015-08-22 05:13] davecheney commented on #314
I don't believe if would be.

On Sat, Aug 22, 2015 at 3:08 PM, nsf <notifications@github.com> wrote:

[2015-08-22 05:13] davecheney commented on #314
With that said, gb offers the info command which can synthesise these
details
[code]

On Sat, Aug 22, 2015 at 3:13 PM, Dave Cheney <dave@cheney.net> wrote:

[2015-08-22 05:18] nsf commented on #314
@mem can you please show me gocode's debug output when you do:
[code]

[2015-08-22 08:10] tianon opened #317 "gb project import path"
Any plans to include some way for me to specify the import path of my project so that imports like `github.com/user/repo/src/some/xyz` work properly inside the project the same way they would for external projects looking to use packages from my project? (especially so that packages of mine that import other packages of mine work properly for people who aren't building from within my gb project)

[2015-08-22 10:10] e-dard opened #318 "gb help plugins does not exist"
Just started to look through some gb docs and noticed that [godoc mentions](https://godoc.org/github.com/constabulary/gb/cmd/gb#hdr-Run_a_plugin) using `gb help plugins` to look up usage for running plugins. There is no `plugins` command to run though.

I assume the docs should say use `gb help plugin`, but then, when you do run `$gb help plugin` it says at the bottom of usage to look at `gb help

[2015-08-22 14:27] mem commented on #314
I have:

[code]

I can build:

[code]

I can start gocode and send an autocompletion request:

The request:
[code]

The server:
[code]

I can do this:

[code]

and reissue the request, and then I get:

[code]

[2015-08-22 22:02] nsf commented on #314
Well, that's because gb uses `$GOOS/$GOARCH` path instead of `$GOOS_$GOARCH`. And this patch (https://github.com/nsf/gocode/commit/85c63bdec7cd2dc6531cf2cb52d243a914ce6744) was meant to be used with lib-path.

So I don't see what exactly is wrong. Because GOPATH doesn't have to work with gb's directory scheme. And the gb support is here via lib-path.

[2015-08-23 05:37] linuxerwang opened #319 "gb build failed for go1.5"
I upgraded to go1.5, rebuilt the whole gb pkg/cmds, and "gb build" gave error:

FATAL command "build" failed: fork/exec /usr/share/go-golang/pkg/tool/linux_amd64/6g: no such file or directory

Also tried to rebuild gb with build tag (I know it's redundant):

go install --tags 'go1.5' github.com/constabulary/gb/cmd/gb
go install --tags 'go1.5' github.com/constabulary/gb/cmd/gb-vendor

But still "gb

[2015-08-23 05:58] davecheney commented on #319
It's likely that gb didn't get rebuilt, you can try adding the `-v` flag to go install, and seeing if it's actually doing anything.

Personally, I recommend removing `$GOPATH/pkg` and running `go install -v .../cmd/gb`

[2015-08-23 06:07] linuxerwang commented on #319
Same issue. I even manually deleted .a and binary.

rm -rf pkg/linux_amd64/github.com/constabulary/gb/*
rm -rf bin/gb*
go install -v .../cmd/gb
go install -v .../cmd/gb-vendor

[2015-08-23 06:12] davecheney commented on #319
Are you saying that go install did nothing ? Can you please include the
full output of what you see ?

On Sun, Aug 23, 2015 at 4:07 PM, linuxerwang <notifications@github.com>
wrote:

[2015-08-23 06:13] davecheney commented on #319
`/usr/share/go-golang/pkg/tool/linux_amd64/6g` is not a common installation path for Go. Where did you get this go install from ? Do you or have you set GOROOT ? If so, please do not, and repeat the procedure.

[2015-08-23 06:18] davecheney commented on #319
Can you please include the ouput of `which go`, is it the version you expect ?

[2015-08-23 06:19] linuxerwang commented on #319
gb and gb-vendor were installed correctly, I can run "gb vendor fetch" without problem.  The problem is when running "gb build".

I build my go1.5 from source code. And there is no 6g under /usr/share/go-golang/pkg/tool/linux_amd64/6g. I think go1.5 removed all 6g/6l etc. according to the release notes: https://golang.org/doc/go1.5#compiler_and_tools

No I did not set GOROOT.

[2015-08-23 06:23] bscott opened #320 "ZSH and gb don't play nice together"
zsh if you have the git plugin, aliases gb to "git branch" just fyi.

[code]

[2015-08-23 06:25] davecheney commented on #319
Thank you for confirming. My suspicion is that your go installation is not correct, and that incorrect value is being encoded into gb when it is compiled (because it must know this value to know where to find the compiler).

The fact that gb is using the go 1.4 behavior (looking for `6g`, not `compile`) also lead me to believe that the go installation on your computer is not correct.

How have you

[2015-08-23 06:29] davecheney commented on #320
Dup of #4  http://getgb.io/faq/#gb-alias

[2015-08-23 06:29] #320 closed

[2015-08-23 06:34] linuxerwang commented on #319
I downloaded the go1.5 source tarball, set GOROOT and GOROOT_FINAL to /usr/share/go-golang; compile the source with all.bash; the copy the whole source folder to /usr/share/go-golang; then create a symbol link /usr/bin/go to /usr/share/go-golang/bin/go.

user@host:/usr/share/go-golang$ tree -L 1
.
├── api
├── AUTHORS
├── bin
├── CONTRIBUTING.md
├── CONTRIBUTORS
├── doc
├── favicon.ico
├── lib
├──

[2015-08-23 06:35] linuxerwang commented on #319
And go env output:

$ go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/advisory/go"
GORACE=""
GOROOT="/usr/share/go-golang"
GOTOOLDIR="/usr/share/go-golang/pkg/tool/linux_amd64"
GO15VENDOREXPERIMENT=""
CC="gcc"
GOGCCFLAGS="-fPIC -m64 -pthread -fmessage-length=0"
CXX="g++"
CGO_ENABLED="1"

$ go version
go version go1.5 linux/amd64

[2015-08-23 06:38] davecheney commented on #319
Why would you do this ? Just download the binary tarball from the Go website and unpack it to the recommended location. This binary tarball is very well tested and known to work.

If you do wish to compile from source, my *strongest* recommendation is to _not set GOROOT_ and compile to a directory owned by your user. I outline the procedure here.

http://dave.cheney.net/2014/09/13/how-to-install-m

[2015-08-23 06:53] davecheney commented on #317
Dup of #316

[2015-08-23 06:53] #317 closed

[2015-08-23 06:55] davecheney commented on #73
This is now a dup of #306. This will improve the error messages. I don't think there is anything more to do here.

[2015-08-23 06:55] #73 closed

[2015-08-23 06:57] davecheney commented on #75
Timed out. IMO creating a gb project can be performed with `mkdir -p $PROJECT/src`. As I won't have any time to work on this til next year, I'm closing it.

[2015-08-23 06:57] #75 closed

[2015-08-23 06:58] davecheney commented on #97
There doesn't seem to be an agreed upon course of action here. Closing.

[2015-08-23 06:58] #97 closed

[2015-08-23 07:35] linuxerwang commented on #319
Still not working for me.

1. I rebuilt go from source. This time I didn't set any GOROOT paths. I untar source code to /home/tools/go-go1.5, built there, put bin in path. Removed pkg/ bin/ for gb. Generated gb and gb-vendor. "gb build" failed the same way.

$ /home/tools/go-go1.5/bin/go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/me/go"
GORA

[2015-08-23 07:39] linuxerwang commented on #319
I have to go to bed now. But please let me know if anything else I should do to figure out the problem. Thanks.

[2015-08-23 07:40] davecheney commented on #319
I'm sorry I haven't been able to fix it for you. Can you please confirm the modification time on your `gb` binary. Are you sure it is being rebuilt, are you sure that is the version that is being executed in your path ?

I added a check to gb in  34bdc62cb4823b2bcbb2cc3c9e9d1f12a6d20043 that should fail if the version of Go that build gb does not match the version of Go that is installed. Can you

[2015-08-23 07:51] linuxerwang commented on #319
The last look before go to bed. You are right! Didn't remember when I copied gb/gb-vendor to /usr/bin. That gave me a hard time. It's totally my fault.

Thank you so much, Dave.

[2015-08-23 07:51] #319 closed

[2015-08-23 07:53] davecheney commented on #319
You're welcome, I'm glad you were able to find the problem.

[2015-08-23 18:09] mem commented on #314
@nsf I'm sorry if I'm making this harder to understand than absolutely needed...

Like I wrote before (first comment):

"Recently gocode was patched to deal with the $GOOS/$GOARCH vs ${GOOS}_${GOARCH} difference between the go tool and gb (nsf/gocode@85c63bd), but this is a different issue.

Last but not least, this problem can be fixed by setting lib-path to ${GB_PROJECT_DIR}, but as far as I can

[2015-08-24 00:37] nsf commented on #314
Yes, `lib-path` is a global setting. But gocode never really was designed to work well with multiple users simultaneously. So, setting `lib-path` before each request is okay. The point here that your editor needs to do that anyway. Gocode have no idea what a "project dir" is. Your editor might. And if editor also knows about gb, it will do whatever it feels like, be it setting `lib-path` or for th

[2015-08-25 03:55] davecheney opened #323 "Avoid making every package dependant on runtime."
As part of cross compilation, to ensure that the runtime is rebuilt properly, we have to make every package dependant on the runtime.

This works, but adds heaps of edges on the dep graph, and is not important unless cross compiling _and_ the runtime is stale _and_ the project being compiled does not actually depend transitively on the runtime.

I think this can probably be done with a filter on t

[2015-08-25 14:21] Marquis42 opened #325 "Looking for VERSION file breaks builds on Fedora/CentOS"
The RPM packages for Go in Fedora and CentOS do not have the VERSION file that gb is looking for in /usr/lib/golang.  Therefore, gb fails to function.

[2015-08-25 17:06] aviflax commented on #49
Sorry if I’m missing something, but how do I include a gb library dependency via `gb fetch`? It puts the whole project into my vendor path, which means my import paths will need to include stuff like `project/src/project` which is quite ugly.

[2015-08-25 17:57] tianon commented on #325
Aww @davecheney, looks like it wasn't just Gentoo this time.

What do you think about falling back to a shell-out to `go version` for naughty distros like Fedora and Gentoo?

[2015-08-25 17:58] tianon commented on #325
(Or accelerating your plans to get mandated `VERSION` upstream :innocent:)

[2015-08-25 18:00] tianon commented on #325
I'd also note that in fixing this by hand, I ran into `FATAL Go version does not match: gb was compiled with "go1.4.2", installed Go version from /usr/lib/go is "go1.4.2\n"` -- think a `strings.Trim` is warranted on the file contents as well?

[2015-08-25 20:04] evanphx opened #326 "Unable to build gb"
Doing `go get ...`, I'm greeted with:

[code]

[2015-08-25 20:13] evanphx commented on #326
My mistake. Old version of go (pre 1.4) was on this machine.

[2015-08-25 20:13] #326 closed

[2015-08-25 20:44] #325 closed

[2015-08-25 20:49] davecheney commented on #325
It's just easier to delete the check. Sorry for the inconvenience.

[2015-08-25 21:27] PeteE commented on #325
@davecheney now we get:

go/src/github.com/constabulary/gb/cmd/gb/main.go:5: imported and not used: "io/ioutil"
go/src/github.com/constabulary/gb/cmd/gb/main.go:8: imported and not used: "runtime"
go/src/github.com/constabulary/gb/cmd/gb/main.go:9: imported and not used: "strings"

[2015-08-25 21:29] davecheney commented on #325
Fixed, sorry.

On Wed, Aug 26, 2015 at 7:27 AM, PeteE <notifications@github.com> wrote:

[2015-08-25 21:30] davecheney commented on #49
@aviflax this isn't supported by gb vendor yet. It's on the roadmap. For the moment you'll have to vendor manually by copying the relevant parts from one gb project to another.

[2015-08-25 21:37] PeteE commented on #325
Thanks!

[2015-08-25 21:39] davecheney commented on #325
Sorry for the breakage. That is what I get for making angry commits so soon
after rising.

On Wed, Aug 26, 2015 at 7:37 AM, PeteE <notifications@github.com> wrote:

[2015-08-25 22:11] aviflax commented on #49
Got it, thanks!

[2015-08-26 12:47] Marquis42 commented on #325
Thanks for the fix, and thanks for a great tool!  After all, I wouldn't be filing bugs if I didn't care and/or wasn't using gb actively. :)

[2015-08-26 12:54] davecheney commented on #325
Thanks. I appreciate it

[2015-08-26 21:22] metral opened #328 "Static linking in 0.1.0"
Is this command:

`GOPATH=/path/to/gb/project/vendor:/path/to/gb/project CGO_ENABLED=0 GOOS=linux go build -a -installsuffix cgo -ldflags '-w -extld ld -extldflags -static' -a -x .`

listed in https://github.com/constabulary/gb/issues/81#issuecomment-111466307 still the recommended way of building static bins as far as `gb` is concerned?

I primarily ask because i see that with the cross-compilati

[2015-08-27 03:12] henrikhodne opened #329 "`gb plugin` panics"
If I run a plain `gb plugin` I get this panic:

[code]

The version I currently have installed is d4f8e79d34e93d18fb16b54e041516f77c4471b7.

[2015-08-27 03:37] davecheney commented on #329
Sorry, this was fixed once before, and i'll fix it again.

FWIW, that command doesn't do anything by itself, so you're not missing out on much.

[2015-08-28 04:04] davecheney opened #330 "all: check that contexts are being destroyed"
I've had several reports, and have seen myself that gb is leaking /tmp files.

Check that _all_ the paths that create a context, including plugins, clean up afterwards.

[2015-08-31 10:39] chakrit opened #331 "cgo: static linking a C library doesn't work."
This is the library I'm building: https://github.com/hyperworks/go-barcode To build the `libzxing.a` file run the `build-zxing.sh` script in the repo folder.

To test, you can try vendoring that one into a GB project and just do `import _ "github.com/hyperworks/go-barcode"` and `gb build` the main project.

The build fails with a lot of errors that looks like `cgo` is trying to read the `libzxing.

[2015-08-31 10:45] chakrit commented on #331
Weird, I tried this on a fresh project and now it complains about a malformed `#cgo` directive instead.

[code]

[2015-08-31 11:37] davecheney commented on #331
@chakrit thanks for your error report, the first error is most likely a dup of #307

[2015-09-01 00:14] divoxx commented on #100
@davecheney sorry to disagree but I don't think that's a good solution :)

Let me expand:

If I vendor a package github.com/x/y/z it will fetch the repo github.com/x/y and the dependencies of github.com/x/y/z but a `gb build` inside the `vendor/` folder will try to build all the fetched code, not just the packages that I explicitly vendored.

It will fail if a package, say github.com/x/y/w, have d

[2015-09-01 00:30] davecheney commented on #100
@divoxx you can work around this by `gb vendor fetch`ing those additional dependencies.

You can also do `gb build $PACKAGE` inside `vendor/` to avoid the situation you describe.

`gb vendor purge` may remove them again, but I think it's broken at the moment so that's a moot point.

I'm sorry I don't have a better answer for you at the moment.

[2015-09-02 10:30] #329 closed

[2015-09-02 10:30] #330 closed

[2015-09-03 17:59] fenderle opened #335 "Some tools not working with gb's pkg directory layout"
I just had a hard time chasing down a problem which showed up once I started using gb. Suddenly gotype didn't work and the gocode autocompletion also failed to find suggestions.

After some time of searching around I found that the problem is... - no it's not the GOPATH, but the way gb structures the pkg directory. After gb build I get

.../pkg/darwin-amd64/...

but all tools expect it to be

.../

[2015-09-03 21:24] fatih opened #336 "env and vendor links at plugins page are directing to 404"
Hi,

The URL's `env` and `vendor` gives us 404 when visited:

http://getgb.io/plugins/
http://getgb.io/plugins/gb-env
http://getgb.io/plugins/gb-vendor

The correct paths (I believe) should be:

https://godoc.org/github.com/constabulary/gb/cmd/gb#hdr-Print_project_environment_variables
https://godoc.org/github.com/constabulary/gb/cmd/gb-vendor

[2015-09-03 22:17] davecheney commented on #335
You are not stupid, but this is also not a bug.

gb doesn't put .a files in the same places as the Go tool. This is for two reasons, 1. so it doesn't overwrite the output of the go tool when gb is used within a GOPATH. 2, to support cross compilation, conditional builds, and all the other tag like things that modify the context a build is in, the plan is to encode that information into the $PROJEC

[2015-09-03 22:17] #335 closed

[2015-09-03 22:33] fatih opened #337 "Cross compilation stop working if host OS binary is built"
Hi,

I just integrated https://github.com/fatih/images/ to gb.

This works:

[code]

however the following only creates for darwin and skips `linux` and `windows`:

[code]

So if the host binary is available inside `bin/` folder it skips building for `linux` and `windows`. For now I just starting building for linux and windows and then move to darwin:

https://github.com/fatih/images/blob/master/M

[2015-09-03 22:36] davecheney commented on #337
Thanks for the report, I know what that's happening, isStale is not taking into account the suffix.

[2015-09-04 03:52] davecheney commented on #336
Thanks. Fixed, but possibly not in the way you were expecting :)

On Fri, Sep 4, 2015 at 7:24 AM, Fatih Arslan <notifications@github.com>
wrote:

[2015-09-06 15:26] tianon opened #338 "-m64?"
What's the rationale for always including `-m64` in `cgo.go`?  I searched the issues and couldn't find a relevant discussion, but if there's one I missed, please feel free to redirect me! :+1:

(Asking because of https://bugs.debian.org/798135, which is the report that we fail to build on 32 bit arches like armel, armhf, and i386.)

If it's superfluous, I'd be happy to send a PR to remove it, but

[2015-09-06 21:59] davecheney commented on #338
There is no rationale,  it is a bug

On Mon, Sep 7, 2015 at 1:26 AM, Tianon Gravi <notifications@github.com>
wrote:

[2015-09-06 22:43] #338 closed

[2015-09-07 00:39] davecheney opened #340 "gb.Context: add LinkMode and BuildMode"
LinkMode = {internal,external}
BuildMode = {exe,c-shared,etc}

[2015-09-07 03:36] davecheney opened #341 "build/test: improve build output"
lucky(~/src/github.com/juju/juju/juju) % gb build
github.com/juju/juju/api
github.com/juju/juju/environs/imagemetadata
github.com/juju/juju/cloudconfig/cloudinit
github.com/juju/juju/service
generate.go:38: undefined: version.SeriesVersion
simplestreams.go:117: undefined: version.SupportedSeries
simplestreams.go:154: undefined: version.SeriesVersion
github.com/juju/juju/wrench
discovery.go:71: und

[2015-09-07 11:27] #337 closed

[2015-09-07 11:30] davecheney commented on #337
@fatih this should be fixed, but I had some trouble verifying the initial report. Could you please test and let me know if it's still broken. Thanks.

[2015-09-07 11:49] #336 closed

[2015-09-07 11:51] davecheney commented on #309
Closing as I don't think there is much more to do here. Bazel has one way it wants to build, gb has another, I don't think either are going to change much in the future.

[2015-09-07 11:54] davecheney commented on #302
Sorry, I don't think there is anything I can do here, go thinks the certificate is invalid, so does chrome for that matter. Because of that, even if the metadata file can be recovered, the final location, https://g.e11it.ru/go/logzy.git will not be acceptable to git.
[code]

[2015-09-07 11:54] #302 closed

[2015-09-07 12:27] davecheney commented on #307
Merging into #337. These are the same problem, but #337 is easier to reproduce.

[2015-09-07 12:27] #307 closed

[2015-09-07 12:28] davecheney commented on #307
Sorry, #331

[2015-09-07 12:32] davecheney opened #343 "cgo: add support for c++ compilation"
See #331

[2015-09-07 14:20] fawick opened #345 "`gb build` fails for cgo build w/ MinGW 4.9.2"
Steps to reproduce my particular case (given that [GLFW 3.0](http://www.glfw.org) is installed and taken care of in the environment variables `CGO_CFLAGS` and `CGO_LDFLAGS`):

    $ mkdir -p demo/src && cd demo
    $ gb vendor fetch github.com/go-gl/glfw3/v3.0/glfw
    $ gb build github.com/go-gl/gflw3/v3.0/glfw

Seemingly, my `ld.exe` does not support the `--build-id` parameter, as the `gb build`

[2015-09-07 21:50] fatih commented on #337
This has been indeed fixed and works as intended. Thanks Dave. Btw this is just a question totally related. the binary names are in the form of:

[code]

isn't it better if  name `images` as `images-darwin-amd64` when called explicitly with the envs `GOOS=darwin GOARCH=amd64`? This is something very minor, I'm just curious. Thanks again.

[2015-09-07 22:00] davecheney commented on #337
explicitly with the envs GOOS=darwin GOARCH=amd64?

If we can reliably detect the difference between the value being set, and
being inherited by default from runtime.{GOOS,GOARCH}, I agree. Please log
an issue for the cross compilation milestone.

On Tue, Sep 8, 2015 at 7:50 AM, Fatih Arslan <notifications@github.com>
wrote:

[2015-09-07 22:17] fatih opened #346 "Cross compiled binary names should changed if envs are explicitly set"
Hi,

Based on the discussion #337, currently if we build with the following commands:

[code]

it creates binaries with names:

[code]

Even though I've explicitly set the environment variables with `GOOS=darwin GOARCH=amd64`, the resulting binary is set to `images`. I think it could (should?) be named as `images-darwin-amd64` if the envs are set **explicitly**.

Because I think iit would make it

[2015-09-07 22:18] fatih commented on #337
Awesome. Here is the issue: https://github.com/constabulary/gb/issues/346 I couldn't add it to the milestone though (it's forbidden for non collaborator)

[2015-09-07 22:19] fatih commented on #318
Agree, I was thinking of writing a new plugin for gb and I thought I could find some help with `gb help plugin[s]` but with no luck. I too get caught in the same limbo as @e-dard .

[2015-09-07 22:27] davecheney commented on #346
I think this is helpful for those automating cross compilation. They don't want the "native" build to be special, to have a different name that won't fit the pattern.

Open question, what should happen in this case `env GOOS=linux gb build ...` ?

[2015-09-08 00:33] #345 closed

[2015-09-08 02:07] dbehnke commented on #314
For anyone encountering this issue, I've had success working around this problem by using the suggested lib-path of gocode.  I create and activate an environment via  source ./activate_env (similar to how python does it for virtual environments) -- example activate: https://github.com/dbehnke/golang-gb-project-template/blob/master/activate_env   Then I issue a "gocode close" to make sure no gocode

[2015-09-08 08:59] fawick commented on #345
Thank you @davecheney!

[2015-09-08 09:32] davecheney commented on #345
You're welcome, that was an easy one.

On Tue, 8 Sep 2015 18:59 Fabian Wickborn <notifications@github.com> wrote:

[2015-09-08 12:52] nsf commented on #314
Also guys, I'm working on a proprietary project right now which uses godep internally and I'm super unhappy about it and in general with the whole vendoring story. I'm looking into gb right now and see if it can solve my problems. If it can, I will definitely consider adding it to gocode, just because I need it and if I think it's the right way to solve the longstanding problem. For a long time I

[2015-09-08 15:20] ChrisHines opened #348 "gb build not incremental"
#### Environment:

[code]

#### Steps to reproduce:

1. Clone https://github.com/constabulary/example-gsftp.
1. Change dir to the project.
1. Run gb build twice without changing any files.

#### Result

All packages are built twice.

[code]

#### Expected

The second build should have nothing to do.

[code]

[2015-09-08 16:22] nsf opened #349 "gb test incorrectly passes flags to testing application"
Simple project:
[code]

Contents of `main_test.go`:

[code]

Running `gb test`:
[code]

I'm using latest gb master as of now. 9c9026c

As you can see it passes flag as `<value>=<value>` instead of `<value>` for some reason.

[2015-09-09 01:21] kalloc opened #350 "For go vendor — do not restore already exists modules in vendor path"
Hi.

If i'm already have all modules except one and only want to add one module, now I must re-download all modules.
It's a not good, may be we need additional param for gb-vendor restore?
[code]

[2015-09-09 01:24] davecheney commented on #350
Sorry, that is correct.

gb vendor restore is _not_ the intended mode of operation, the expected mode of operation is to store your source code in vendor/, not use gb vendor restore as a replacement for go get.

I'm going to make this as closed as I do not intend to add this feature for the reason stated above. If you want to work on it, please reopen and assign to yourself.

[2015-09-09 01:24] #350 closed

[2015-09-09 01:36] kalloc commented on #350
Do you know another way to install dependancies to vendor directory ?

[2015-09-09 01:37] kalloc commented on #350
Can I do this functional for gb-vendor restore?

[2015-09-09 01:56] kalloc commented on #350
@davecheney

[2015-09-09 02:10] davecheney commented on #350
@kalloc gb vendor is a plugin that helps you maintain the contents of your vendor/src/ directory. The expected use is, gb vendor fetch <SOMETHING>, then commit the contents of vendor/src/

[2015-09-09 09:23] stunti opened #352 "vendoring a project structure with gb doesn't work"
I have a project which is structured with gb. It works perfectly on its own. I need to include a package of that project in another project.
When I do that, because in the first project, path imported are in the form of "cmd/back/global" and not "github.com/stunti/back/global" gb doesn't find the package once included in the second project.

FATAL command "build" failed: failed to resolve import p

[2015-09-09 09:40] davecheney commented on #352
Can you please tell me more about the project you are including this project in ? Is this a gb project or are you trying to go get it ?

[2015-09-09 09:43] stunti commented on #352
This is a project which is already structured to work with gb.
I did run gb vendor to get it and I am trying to import one of its package.

Inside the package from the first project it use other packages from the first project too which are in the form of "cmd/pk1/pk2". The issue is that gb when trying to build the second project doesn't find these packages because they do not refer to any known p

[2015-09-09 09:53] #318 closed

[2015-09-09 09:58] stunti commented on #352
That's the basic structure

Remote1
[code]

Big1
[code]

[2015-09-09 10:06] davecheney commented on #352
At the moment gb vendor assumes the code your are vendoring is in go get format. It shouldn't, but it does.  The infrastructure is there to support gb vendoring gb projects, but it is not done yet.

[2015-09-09 10:11] davecheney commented on #346
Most of the groundwork is in place for this. I should have it done by the end of the week.

[2015-09-09 23:43] davecheney commented on #348
Thanks for the issue report. If this is unique to windows then it is either
a timestamp granularity issue or using path where filepath is more
appropriate.

I'll try to get access to a windows VM soon.
On 9 Sep 2015 1:20 am, "Chris Hines" <notifications@github.com> wrote:

[2015-09-10 00:04] ChrisHines commented on #348
I have some time to investigate tonight as well.

[2015-09-10 00:35] ChrisHines commented on #348
Some test failures on Windows:

[code]

[2015-09-10 01:05] ChrisHines opened #356 "Temp directories not deleted on Windows."
Temporary directories created by `gb` (and its tests run via `go test`) are left behind even though `gb` tries to delete them with `os.RemoveAll`. Printing the error returned by `os.RemoveAll` reveals:

[code]

Fix on the way.

[2015-09-10 01:11] davecheney commented on #348
Welp, that's the cause. The second failure is pebcak, the first is why
incremental rebuilds don't work

On Thu, Sep 10, 2015 at 10:35 AM, Chris Hines <notifications@github.com>
wrote:

[2015-09-10 01:24] ChrisHines commented on #348
The root cause seems to be looking for "compile" instead of "compile.exe" (for Go 1.5) to check if the compiler is new.

I added some `Println` calls to `gb.isStale` and found this:

[code]

[2015-09-10 01:25] davecheney commented on #348
Thanks. I'll fix that.

On Thu, Sep 10, 2015 at 11:24 AM, Chris Hines <notifications@github.com>
wrote:

[2015-09-10 01:31] #356 closed

[2015-09-10 01:41] ChrisHines commented on #348
Awesome.

[2015-09-10 01:46] #348 closed

[2015-09-10 06:25] fatih commented on #346
I think it should build binaries for all possible architectures, such as i386, amd64, etc.. As I remember (not related I know) but https://github.com/mitchellh/gox does also the same if you only specify the OS.

[2015-09-10 06:35] davecheney commented on #346
Hmm, that's an interesting idea, but has a few complications

- if GOOS=linux and GOARCH is not set, then to say GOARCH defaults to the
set of all architectures means build times go up, I'd prefer to keep it
explicit

- if neither GOOS and GOARCH is set, then a user may interpret that to be
"build natively", or "build all possible permutations"

If you want this behavior, maybe GOARCH=all would be

[2015-09-10 06:38] fatih commented on #346
You are right, the `all` keyword is used already and would make sense for the current context. I too wouldn't like have a large build time.

[2015-09-10 06:45] davecheney commented on #346
I like the idea. Here is the best way to implement it.

- GOOS/GOARCH handling happens in cmd/gb, there are some configuration
options on gb.Context now.
- GOOS/GOARCH=all should be handled in cmd/gb as well, by repeatedly
createing new contexts with the relevant variables.

On Thu, Sep 10, 2015 at 4:38 PM, Fatih Arslan <notifications@github.com>
wrote:

[2015-09-10 08:16] hyper-carrot opened #358 "Can not fetch the package with a insecure protocol from my custom import path"
Please see contents below:
[code]

As you can see, It is failed to get the package from our git server, but `go get -insecure go.wepiao.com/base_lib/log` is OK.

I think that gb should support `-insecure ` flag.

[2015-09-10 08:46] hyper-carrot commented on #358
OK, I found `-precaire `, but it is still fail:

[code]

[2015-09-10 09:43] davecheney commented on #358
@hyper-carrot I tried to check the metadata for that url, but it resolves to an rfc1918 address, nobody on the internet will be able to reach that server
[code]
If this is deliberate, can you post the results of the command above. I only need to see the contents of `<head />`, specifically the `<meta>` tags.

[2015-09-10 09:46] hyper-carrot commented on #358
I  found the problem, but gb didn't print it out. I improved it, see #359.

[2015-09-10 09:47] hyper-carrot commented on #358
@davecheney  `go.wepiao.com` is a internal url, but the problem really is associated with it.

[2015-09-11 07:13] hyper-carrot opened #360 "What about "gb vendor tree""
I can know what the project's dependent packages via `gb vendor list`, but I don't know their dependency relationship.

[2015-09-11 12:45] davecheney commented on #358
Closed in 716b8dc

[2015-09-11 12:45] #358 closed

[2015-09-12 21:26] nsf commented on #314
Added basic gb-specific lookup to gocode, it is enabled via new "package-lookup-mode" option, see README.md for details. But I'm not sure where I'll end up with this feature.

What I like about gb is the fact that it doesn't mess with your GOPATH. It is absolutely great. And I also like that gb makes it clear - vendoring in libraries is a bad idea. But it also means that you'll end up developing y

[2015-09-14 20:53] tbruyelle opened #362 "Pkg file layout with hyphen separator ?"
A recent commit 9f933632970a5b7a93460ed6dbb3ed5b4364a1c7 replaced the pkg file layout from `pkg/GOOS/GOARCH` to `pkg/GOOS-GOARCH`.

I don't understand why a hyphen `-` is used  to separate GOOS and GOARCH where in standard pkg it's an underscore `_`, like said in issue #202.

For me it simply breaks the usage of `gocode` in my project. It works again as soon as I rename `pkg/darwin-amd64` to `pkg/

[2015-09-14 21:14] davecheney commented on #362
This is for two reasons

1. if gb is used in GOPATH, it should not overwrite the package file written by the go tool.
2. in the future the path will change again, probably with extra suffixes to support all the different variants of a build, ie `-tag`, `-nocgo/-cgo`, etc.

I'm going to mark this ias a dup of #202, which also holds several other dups.

[2015-09-14 21:14] #362 closed

[2015-09-15 00:44] davecheney commented on #362
Also #314

[2015-09-15 02:05] #340 closed

[2015-09-15 02:05] leifmadsen commented on #331
I have linked to an issue I originally filed with hlandau/service tag 1.0.7. It is very easy to reproduce with gb, and works fine with `go build`. I'm not sure if this is the same issue, but it is related to compiling C code embedded in a Go project.

[2015-09-15 02:08] leifmadsen commented on #212
@davecheney Just cruising by. How much more is required to close this out now that you're tagging releases like 0.1.0 and 0.1.1 on GitHub?

[2015-09-15 02:09] davecheney commented on #331
@leifmadsen can you try 0.1.1 or HEAD, you should get a different error (I'm still working on a fix)

[2015-09-15 02:12] davecheney commented on #212
Unfortunately a lot as the go tool does not have the ability to consume a
git tag and annotate a binary. This can be done with extra scripting, but
that won't help people that just use go get.

On Tue, Sep 15, 2015 at 12:08 PM, Leif Madsen <notifications@github.com>
wrote:

[2015-09-15 08:26] tbruyelle commented on #362
Thanks for the explanation, I finally found how to make `gocode` works with `gb` pkg folder :

[code]

I write it here for the record.

[2015-09-15 08:34] davecheney opened #366 "cmd/gb: gb info should report the build suffix and the package cache directory."
Many tools want to work with the compiled .a files and are confused that gb does not placed them in the same location, relative to the PROJECT/GOPATH that the go tool does. See #202 and #314.

While this is not expected to change in the future, this information should be available for tools that want to integrate with gb projects.

I propose that gb info grow several more output fields, `GB_PROJEC

[2015-09-15 08:34] davecheney commented on #362
Thanks for the tip.

For the record, the names of the directories under $project/pkg should be
considered opaque, as I meant to exploit that fact to implement the buildId
style feature that Go 1.5 implemented for Go 1.4, amongst other things.

I've raised #366 to add this information to the gb info command.

On Tue, Sep 15, 2015 at 6:26 PM, Thomas Bruyelle <notifications@github.com>
wrote:

[2015-09-15 08:42] nsf commented on #366
Well, I think it's good to have it, at the moment gocode doesn't touch the gb tool itself though. I simply look for $GOOS-$GOARCH in the PROJECT/pkg dir. Which means no support for build flags, but maybe I'll add them one day. It's a hard question, because user needs to tell the gocode that he wants particular build flags. Basically it means there should be an editor with deep Go integration. IDE-

[2015-09-15 09:54] Lianping opened #367 "The -coverprofile flag does not work"
When run gb test with the  -coverprofile flag, it failed.

$ gb test -coverprofile=coverage.out
... ...
testing: cannot use -test.coverprofile because test binary was not built with coverage enabled
FATAL command "test" failed: exit status 2

Any workaroud? Is there any plan to support this flag in the near future?

[2015-09-15 15:37] leifmadsen commented on #331
@davecheney sure I'll give it a shot in a few and report back

[2015-09-15 15:52] leifmadsen commented on #331
Here is the output. Oddly enough, when I ran a `gb build` after updating gb, it seemed to compile fine. On the second build though, it provided the following output, which doesn't look any different unfortunately.

I ran an update for `gb` and verified I was running HEAD (master).

[code]

[2015-09-15 15:59] leifmadsen commented on #331
OK, actually now I do get a different message. I had to clear out the `/tmp/gbXXXXXXXX` dirs and then built again. It built fine after I did that. I then ran a `gb vendor update --all`.

I got not output, so I'm not sure if my `git diff` is just showing me the changes I had from previous to that command. I can confirm that the `service` vendor did not update though (same revision in the manifest).

[2015-09-15 23:23] davecheney commented on #331
Thanks for your response.

To clarify the change that landed in 0.1.1 didn't fix the issue, only the
panic during builds.

On Wed, 16 Sep 2015 01:59 Leif Madsen <notifications@github.com> wrote:

[2015-09-15 23:26] leifmadsen commented on #331
No worries just wanted to provide as much info as possible. Wasn't sure if the issue was easily reproducible or if there was any new info there.

Let me know if there is anything else I can test and provide.

[2015-09-16 09:04] davecheney commented on #367
I'm sorry, test flags are not well implemented at the moment. This is second on the road map (after the current 0.1 series, which focuses on cross compilation).

[2015-09-16 09:15] davecheney commented on #349
Thank you for raising this issue. This is pretty broken at the moment, I plan to tackle it in the 0.2 milestone.

[2015-09-16 09:19] davecheney commented on #360
I've played around with this visualisation before and it quickly gets out of hand.

http://dave.cheney.net/2014/11/21/visualising-dependencies

If you want to try this, feel free, but I would like to see it implemented as Andrew showed in his talk, http://talks.golang.org/2015/tricks.slide#50

gb vendor has a list subcommand, so implementing the missing commands and fields feels like the right way

[2015-09-16 09:24] #366 closed

[2015-09-16 09:30] davecheney commented on #331
@leifmadsen in your original report you mentioned the go-barcode library, which used cgo and c++. The issues with the services.v1/.../setuid library seem to be unrelated.

Are they related

[2015-09-16 09:54] davecheney commented on #331
@leifmadsen thanks, i've replicated the problems with truncated .o files. I believe I know the problem. As this is a slightly different issue i'll raise issue to track it.

[2015-09-16 09:57] davecheney opened #372 "cgo: multiple packages using cgo can overrwrite each other"
[code]
This error is caused because the `_cgo_NNN.o` files are output to the _parent_ of the target directory, causing them to conflict when building in parallel.

See also #331

[2015-09-16 10:04] hyper-carrot commented on #360
Yeah, I will keep my attention to this.

[2015-09-16 11:18] #372 closed

[2015-09-16 11:22] davecheney commented on #331
@leifmadsen i'm pretty sure I fixed your issue in #372, @chakrit i'm still working on yours, although I have added some support for compiling .cpp files in #368

[2015-09-16 15:01] gobwas opened #375 "gb test does not work with main directory in src"
If i have some directory tree like this:

[code]

running command `gb test all` throwing:

[code]

[2015-09-17 02:29] davecheney commented on #375
Sorry about that. I've found the bug and a fix is being proposed now.

On Thu, Sep 17, 2015 at 1:01 AM, Sergey Kamardin <notifications@github.com>
wrote:

[2015-09-17 02:50] #375 closed

[2015-09-17 03:26] #331 closed

[2015-09-17 03:27] davecheney commented on #343
Closed in #376

[2015-09-17 03:27] #343 closed

[2015-09-17 06:58] inconshreveable opened #384 "Multiple test failures on Windows"
OS: Win7 x64
Go: 1.5.1

Pulling this out of https://github.com/constabulary/gb/pull/377 per request.

[code]

[2015-09-17 06:59] inconshreveable commented on #384
Note that in addition to the two failing tests that the tests for gb/cmd also never complete and timeout.

[2015-09-17 06:59] davecheney commented on #384
What gcc do you have on your test machine ?

On Thu, Sep 17, 2015 at 4:58 PM, Alan Shreve <notifications@github.com>
wrote:

[2015-09-17 07:00] inconshreveable commented on #384
[code]

[2015-09-17 07:06] davecheney commented on #384
What GOARCH value are you using on that vm ? It looks like that is a 32bit
gcc but gb is treating it like amd64

On Thu, Sep 17, 2015 at 5:00 PM, Alan Shreve <notifications@github.com>
wrote:

[2015-09-17 07:15] inconshreveable commented on #384
not entirely sure what you're asking here? there's not GOARCH environment variable set, so it's using the OS default (amd64). running the tests with GOARCH=386 produces additional tests errors:

[code]

[2015-09-17 07:48] tianon opened #387 "docs: integration tests"
Integration tests live in https://github.com/constabulary/integration-tests and need some documentation!

[2015-09-17 08:53] gobwas commented on #375
Thanks! :beers:

[2015-09-17 09:29] gobwas commented on #226
@davecheney also, `gb test -tags=` should work?

[2015-09-17 09:41] davecheney commented on #226
Not yet I'm afraid, there is no -tag support yet.

[2015-09-17 10:03] gobwas commented on #226
:disappointed:

Is it planned to support this?

[2015-09-17 10:05] davecheney commented on #226
Yes, build tags are very much in the roadmap.

[2015-09-17 10:11] gobwas commented on #226
Cool.

Also, just as an idea: in the [Rust](https://www.rust-lang.org/) ecosystem, there are three types of tests:
 - unit
 - doc (exmaples)
 - and integration

For the integration tests there are special dir `tests` on the same level as `src`. In Go, I wanted to use `-tags` to separate unit-tests from integration-tests. So, since GB makes some rules to directory structure of project, it will be a

[2015-09-17 13:10] leifmadsen commented on #331
@davecheney sorry, they are likely not related. I started here because it looked pretty close at first glance, then probably overloaded this issue. Should likely have just started with a new one because issue numbers are cheap :)

Thanks!

[2015-09-17 14:26] leifmadsen commented on #372
Thanks! Will test again, but this looks right.

[2015-09-17 23:13] inconshreveable commented on #384
took a look at this again today, and it was very obviously an issue with having only a 32-bit gcc installed. apologies!

[2015-09-17 23:24] davecheney commented on #384
Thanks for confirming, @tianon set up a windows builder and we'll get those
timeout failures fixed up.

On Fri, 18 Sep 2015 09:13 Alan Shreve <notifications@github.com> wrote:

[2015-09-17 23:26] tianon commented on #384
Oh, this timeout is literally exactly what I just messaged you about.  Hah.
:+1:

This timeout bug is basically the only failing unit test I've got left for
at least this x64 builder. :metal:

[2015-09-17 23:27] inconshreveable commented on #384
Awesome. Yeah, just to confirm, it's this timeout bug:

[code]

[2015-09-17 23:37] davecheney commented on #384
Can you change the value of Verbose at the top of the cmd/test_test.go
tests, and try again, that should give some more information.

Also, is the CPU idle or pegged while the test is timing out ?

On Fri, 18 Sep 2015 09:27 Alan Shreve <notifications@github.com> wrote:

[2015-09-18 00:06] inconshreveable commented on #384
Found it. Offending code is here: https://github.com/constabulary/gb/blob/master/cmd/path.go#L19

[code]

The root path on windows is not `/`, so it just loops infinitely. Probably best to just keep a record of the last path seen and quit the loop when it doesn't change anymore.

[2015-09-18 00:11] davecheney commented on #384
Right. I'll fix that asap. I'm glad it wasn't a logical error in the
executor.

On Fri, 18 Sep 2015 10:07 Alan Shreve <notifications@github.com> wrote:

[2015-09-18 03:26] tianon commented on #384
Eeek, `testmainpkg.Binfile()+".test"` is a problem too.  Not sure how to solve that one quite yet, but I've got some fixes worked up for other Windows issues though! (including the infinite loop; nice catch @inconshreveable!!)

[2015-09-18 03:26] tianon commented on #384
I'm going to reopen this to track "Windows issues" in general until we get this totally put to bed. :+1:

[2015-09-18 03:50] tianon commented on #384
I've got a fix for the test that's checking against things like `a.exe.test`, but I'm not sure whether we should really be fixing the compiler to generate `a.test.exe` instead.  I suppose it's probably worth checking what the `go` tool does.

[2015-09-18 05:27] davecheney opened #393 "gb info: add GOROOT value"
It's quite common for gb users to compile gb, then move it somewhere else and forget about it. Then they upgrade their Go version and are confused when rebuilding gb does not work.

#321 tried to add an automatic check, but thanks to linux distros, we cannot have nice things.

As a fallback, add a field to `gb info` to report the GOROOT that compile this gb, and maybe the runtime.Version as well f

[2015-09-18 05:29] davecheney opened #394 "gb info: add help text to describe the various values."

[2015-09-18 11:15] #384 closed

[2015-09-18 14:37] tianon opened #396 "gb test: windows binaries should be ".test.exe", not ".exe.test""

[2015-09-19 10:30] evgenybf opened #398 "gb vendor update --all fails with runtime error when vendor/src folder is removed"
OS: Win7x64, go1.5

Steps to reproduce:
[code]

[code]

[2015-09-19 10:38] davecheney commented on #398
Thanks. Fixing coming right up.

[2015-09-19 10:51] evgenybf commented on #398
Thanks!

I would add the following check to the function:
[code]
and treat the error occurred in the anonymous WalkFunc as warning.

[2015-09-19 11:25] #398 closed

[2015-09-19 17:09] ches opened #403 "`gb help packages` topic does not exist"
This is referred to in the text of `gb help build`, but does not exist.

[2015-09-19 19:04] ches commented on #70
Since the official gb FAQ links to this issue for background, I wanted to note here that @davecheney pointed out elsewhere in [a blog post][1] that `gb-vendor` could be enhanced to facilitate this, and that sounds like a nice idea to me:

I might take a stab at that, time allowing. If that takes awhile, maybe someone else reading this thread will do it quicker :smile:

[1]: http://dave.cheney.net/

[2015-09-20 11:19] ches commented on #61
@Xe: something like this might be more robust against Vim's working directory changing, as @davecheney pointed out:

[code]

See `:help localvimrc-variables`.

vim-go master is now supposed to have some auto-`GOPATH` functionality when detecting a Godep or gb project, but it doesn't seem to work for me yet. See #42 for some links.

[2015-09-20 11:21] ches commented on #61
@davecheney: The gb-goimports plugin from #80 is still on a branch—is that pending work on pulling out some of the reusable code in that PR for other plugins to use, as mentioned on the thread, or some other undecided considerations for plugins?

[2015-09-20 13:35] davecheney commented on #61
I think that branch is dead, sadly, I don't think it would merge any more.

On Sun, 20 Sep 2015 21:21 Ches Martin <notifications@github.com> wrote:

[2015-09-21 02:59] jarod opened #405 "vendor fetch can't fetch gb project package"
if github.com/user/proj/pkg is a gb project, when you run vendor fetch:
[code]

[2015-09-21 03:02] jarod commented on #405
sorry. duplicated with #352

[2015-09-21 03:03] davecheney commented on #405
I'm sorry gb vendor fetch can only handle projects on go get format. This is a limitation, please see other related issues

[2015-09-22 00:41] #341 closed

[2015-09-22 00:44] #405 closed

[2015-09-22 00:55] davecheney opened #406 "Compiler output should be relative to a fixed point"
Having the compiler output a unique file path when compilation fails has been a long standing issue, see #57, #79, #99.

#57 changed to make paths relative to `$PROJECT`, but this since regressed :(

#395 addressed the regression, by making the output relative to the current working directory.

This is a tracking issue to come up with a better plan than the piecemeal solutions so far.

Requirement

[2015-09-22 01:16] inconshreveable commented on #406
I think you mean #377 not #395?

#377 is both unit tested and properly works with context.Workdir() on Windows. (It only modifies paths that were already relative. Any absolute paths are left unchanged.)

Unfortunately, #377's behavior with `-R` is suboptimal. Paths relative to $pwd are probably not the most helpful in that situation. Worse, if you use `-R` and specify a path on a different drive

[2015-09-22 01:25] davecheney commented on #406
@inconshreveable correct. To be clear, I am not saying your work on #377 is incorrect. I am grateful for it. This issue is to track the remaining work.

Sadly I think the solution is going to be more complicated. gb will have to handle both relative and absolute paths. We should be using relative paths internally whereever possible, and probably relative to the project root. But I fear there will

[2015-09-22 01:34] inconshreveable commented on #406
Yep, I understand! I just wanted to summarize where #377 leaves the current state of the world for everyone.

You make a good point about the cgo/temp files. Perhaps it makes more sense to say:

- All paths located *outside of the gb project* should be absolute
- All paths located *within the gb project* should be relative, either:

  1. Paths should always be relative to gb project root
  2. Path

[2015-09-22 01:39] davecheney commented on #406
@inconshreveable yes, I like that, paths outside the project should be absolute. I think as per #57 paths should be relative to the project root. Specifically the $cwd should never be used for path computation within go (cmd/gb is the exception as it has to do a lot of skutt work to unpack package globs and things like that). I _think_ this will resolve any problems with `-R`.

The decision of wha

[2015-09-22 01:40] inconshreveable commented on #406
+1 that all sounds good to me

[2015-09-22 05:06] tianon commented on #406
Yeah, big +1 from me for paths outside being absolute and inside relative
to project.  Clean and simple IMO.

[2015-09-22 05:20] davecheney commented on #406
Excellent. I plan to work on this, but probably not til after Gotham Go. Feel free to jump in if you like.

To give some background about my suggestion for how this should be tested, I view testing the output of commands by looking at stdout/stderr with about the same level of distain as I view using selenium for doing front end testing -- it works, but it has a high cost to belefit ratio.

I'd li

[2015-09-22 12:03] gobwas opened #407 "How to generate doc with gb?"

[2015-09-22 12:04] cryptix opened #408 "Freebsd: gb/cmd tests fail (again)"
[code]

I opened an issue about this before but now it's back.. :-/

[2015-09-23 08:48] cryptix commented on #408
Fixed by #409. Thanks @inconshreveable !

[2015-09-23 08:48] #408 closed

[2015-09-23 21:13] grubernaut opened #410 "gb vendor fetch -tag, doesn't fetch tag if supplied with --no-recurse"
Almost opposite of #270:

[code]

Yet, allowing recursion, `gb vendor fetch -tag`, works as expected:

[code]

Not too critical of a bug, as I can keep recursion in until fixed, just increases the size of the project.

Thanks for the awesome tool!

[2015-09-23 22:53] davecheney commented on #410
--tag and --no-recurse are not flags, sorry. Can you retry your original
example with -tag and -no-recurse

On Thu, Sep 24, 2015 at 7:13 AM, Jake Champlin <notifications@github.com>
wrote:

[2015-09-23 23:10] grubernaut commented on #410
sorry, must have typed/copied them wrong

[code]

[2015-09-23 23:14] grubernaut commented on #410
Looks like it may be from here: https://github.com/constabulary/gb/blob/master/cmd/gb-vendor/fetch.go#L108

[2015-09-23 23:24] grubernaut commented on #410
Pardon my ignorance though, first use of `gb`. Does convention stand that I should include recursive dependencies on a project anyways?

[2015-09-23 23:26] davecheney commented on #410
I'm not sure I understand. The dependencies of a Go project are a set, not
a tree.

On Thu, Sep 24, 2015 at 9:24 AM, Jake Champlin <notifications@github.com>
wrote:

[2015-09-23 23:28] davecheney commented on #410
What I mean to say is, the contents of $project/vendor/src represent the
set of all packages required either directly or transitively from the code
in $project/src. I think the simplest answer to your question is, yes.

On Thu, Sep 24, 2015 at 9:26 AM, Dave Cheney <dave@cheney.net> wrote:

[2015-09-23 23:31] grubernaut commented on #410
Okay cool, thank you

[2015-09-24 08:10] utrack opened #412 "gb vendor fails to fetch golang.org/x"
Steps to reproduce: try to fetch `golang.org/x/net/context`.
[code]

[2015-09-24 10:58] davecheney commented on #412
@utrack I cannot reproduce this, can you please paste the output of
[code]

[2015-09-24 11:18] #410 closed

[2015-09-24 11:20] grubernaut commented on #410
Awesome, thanks!

[2015-09-24 11:21] davecheney commented on #407
@gobwas do you mean "how can I run godoc on the source of a gb project" ?

[2015-09-24 12:12] utrack commented on #412
@davecheney sure,
[code]

[2015-09-24 12:14] davecheney commented on #412
Hmm, that's strange, I thought that it was an issue with a proxy.

On Thu, Sep 24, 2015 at 10:12 PM, Nikita K <notifications@github.com> wrote:

[2015-09-24 12:16] #81 closed

[2015-09-24 14:15] drewwells commented on #81
Lol popular request. Thanks looks great!

[2015-09-24 21:38] pierrebeaucamp commented on #328
+1

[2015-09-24 22:23] #396 closed

[2015-09-25 03:39] tianon opened #414 "gb build: cross compile + tags leads to duplication in filename"
If I do something like `GOOS=windows GOARCH=386 gb build -tags lol`, my final binary name is `cmd-windows-386-lol-lol.exe` instead of just `cmd-windows-386-lol.exe` (due to `ctxString` being added during cross-compile and `buildtags` being included in that).

My thoughts for fixing this would be to use `Suffix()` for both instead, which prepends the `-` appropriately, but the problem there is that

[2015-09-25 03:41] tianon commented on #414
To illustrate further, `GOOS=windows GOARCH=386 gb build -tags 'lol omg'` leads to `cmd-windows-386-lol-omg-lol-omg.exe`.

[2015-09-25 03:43] tianon commented on #414
(I don't know if it warrants its own issue, but it's worth noting also that `go build -tags 'a b' -tags c` is the same as `go build -tags 'a b c'` or `go build -tags a -tags b -tags c` -- not sure if parity with how `go(1)` handles `-tags` flags is something you care about. :smile:)

[2015-09-25 03:45] thockin commented on #308
It's not helpful because @eparis and I are trying to achieve the same goal on the same project, but I want to be on record that this position on symlinks is, IMO, wrong.  If you want to crash my computer in case of a symlink loop or turn on my webcam when I make the same source appear twice in a tree (why is that bad, really?) go right ahead.

But this is inhibiting my ability to Get Things Done.

[2015-09-25 03:57] davecheney commented on #414
Thanks for raising the issue, I thought I added a test case for that, I'll
check when I get home.

On Fri, 25 Sep 2015 13:43 Tianon Gravi <notifications@github.com> wrote:

[2015-09-25 06:47] davecheney commented on #414
@tianon we use the same logic as the go tool does for parsing `-tags`, whatever works for `go`, works for gb.

[2015-09-25 06:50] davecheney commented on #414
@tianon as an aside ctx.Suffix only exists to let gb info print out the value. It should be as dumb as possible, that is, the logic should live somewhere else.

[2015-09-25 06:53] tianon commented on #414
Ok, fair enough! :+1:

[2015-09-25 06:56] tianon commented on #414
(Also, I've double-checked how `go(1)` handles `-tags` and you're indeed correct -- now to go figure out in which software project I've bungled that assumption...  :confounded:)

[2015-09-25 06:56] davecheney commented on #414
[code]
Confirmed, I'll have a fix asap,

[2015-09-25 07:25] #414 closed

[2015-09-25 07:28] tianon commented on #32
Just ran into this with the innocuous `cmd` name in https://github.com/tianon/go-tags.

`go build` happily spits out a binary, but `gb build` returns the wonderfully cryptic `FATAL command "build" failed: failed to resolve import path "cmd": no buildable Go source files in /usr/lib/go/src/cmd` (because `cmd` exists in `GOROOT`, so it must be `GOROOT/src/cmd` I want to compile, right?  except there

[2015-09-25 07:37] #32 closed

[2015-09-25 07:37] davecheney commented on #32
@tianon kicking this to a new issue.

[2015-09-25 07:38] davecheney opened #416 "gb cannot build/test a package called "cmd""
[code]

Blocked by #306

[2015-09-25 07:39] tianon commented on #32
:heart:!

[2015-09-25 07:44] davecheney commented on #416
FWIW, this is not a high priority item, although #306 is on the roadmap.

Even if this was possible, building this package would result in a binary `$PROJECT/bin/cmd`, which is questionably named, at best.

[2015-09-26 00:03] benatkin opened #417 "go 1.5 status unclear to new users on website"
On http://getgb.io/docs/install/ it says that it supports 1.4. Perhaps it should say 1.4 or greater? Or is 1.5 not quite supported yet? I only see one open issue involving 1.5 so it seems like it probably supports 1.5.

[2015-09-26 00:05] davecheney commented on #417
Gb support go 1.4 and up, thanks for pointing this out. I'll fix the
website.

On Sat, 26 Sep 2015 10:03 Benjamin Atkin <notifications@github.com> wrote:

[2015-09-26 00:27] #417 closed

[2015-09-29 10:30] #403 closed

[2015-09-29 10:37] davecheney commented on #262
@Luit I'm going to close this for the moment, I don't think there is much more to do here.

[2015-09-29 10:37] #262 closed

[2015-09-29 10:39] davecheney commented on #283
I'm going to close this for the moment, please feel free to send a PR to the constabulary/getgb.io repo.

[2015-09-29 10:39] #283 closed

[2015-09-29 19:15] dlclark commented on #96
I *think* the pre-reqs for this one are completed now.  Any thoughts on this?

[2015-09-29 21:32] davecheney commented on #96
Yup, the big blocker was tag support which is now done.

On Wed, 30 Sep 2015 05:15 Doug Clark <notifications@github.com> wrote:

[2015-10-02 22:11] tylerb commented on #96
Very excited about this. Just finished migrating my day job project to gb, and I miss running race on all my tests.

[2015-10-03 14:55] bcho opened #418 ""build" failed: Gc: no Gofiles provided"
Same as #292 .

When I try to use gb build [portaudio](https://github.com/gordonklaus/portaudio) on OS X, clang will raise error for the missing header `_cgo_export.h`. But the sample program can be compiled via raw `go build`. I think gb should also generate the `_cgo_export.h` as `go tool cgo` do?

A demo can be found https://github.com/bcho/gb_build_portaudio

Build output:

[code]

[2015-10-03 15:01] bcho commented on #418
My bad, this works on the latest version of gb. But can you provide the version/commit in the verbose mode? @davecheney

[2015-10-03 15:01] #418 closed

[2015-10-03 15:36] davecheney commented on #418
Thanks for confirming.

I would like to provide some kind of version info or hash, but because gb
is built with the go tool,there are no automatic facilities to do this.

I hope one day when gb is self hosting, this can be improved.

On Sat, 3 Oct 2015 11:01 hbc <notifications@github.com> wrote:

[2015-10-04 14:52] jerome-laforge opened #419 "Impossible to fetch vendor dependency on github after authentication on github"
It is impossible to fetch anonymous repository after authentication on github with the error below.
I try to fecth w/o login/passwd:

    error: unable to read askpass response from '/usr/lib/ssh/x11-ssh-askpass'
    Username for 'https://github.com':
    error: unable to read askpass response from '/usr/lib/ssh/x11-ssh-askpass'
    Password for 'https://github.com':
    remote: Repository not fou

[2015-10-04 17:00] davidkaya commented on #316
@davecheney Hey! I am back (after a looong time)! I can implement this, but I didn't quite get the "prefix" that you are talking about Dave.

[2015-10-04 19:22] jerome-laforge commented on #419
Sorry, I use bad url...
I used :

     gb vendor fetch github.com/gorilla/session

instead of

     gb vendor fetch github.com/gorilla/sessions

This issue is closed.

[2015-10-04 19:22] #419 closed

[2015-10-05 04:19] sevein commented on #96
You probably know this :) but I've worked around this by updating my GOPATH, just in case someone gets stuck here.

[2015-10-05 14:51] lcowell commented on #276
We can get the list of plugin names by scanning the user's PATHs. I'm wonder about how we would get the supplementary output (eg. `fetch a remote dependency`) for when we list the plugins in the help output. I was thinking we could add a flag to plugins that gives them a place to provide this output. Any other ideas about how to do this?

[2015-10-06 03:16] laco0416 opened #420 "Allow override fetch package already vendored"
If the package `foo` was vendored in fetching another pachage `bar`, I cannot fetch `foo` after `bar`.

[code]

Please allow overriding package already vendored.

[2015-10-06 03:18] davecheney commented on #420
Have you tried gb vendor update <foo> ?

[2015-10-06 03:25] laco0416 commented on #420
yes, but `gb vendor update` needs an existing dependency.

I need a solution to install a new package, and I want not to mind other packages in order to fetch the package.

[2015-10-06 03:37] laco0416 commented on #420
Simply, I want `gb fetch -u` just like `go get -u`. :smiley:

[2015-10-06 06:20] laco0416 commented on #420
expected work flow:

[code]

[code]

actually, it fails.

[code]

[2015-10-06 09:24] davecheney commented on #420
I'm sorry but I have no plans to implement that feature. gb is a reaction to all the problems of go get, adding -u, it unconditionally fetching HEAD of every depdendency would undo the work that gb has put into repeatable builds.

[2015-10-06 13:36] gobwas commented on #350
+1 this could be useful tool for gb.

In my case, I want to deny `gb vendor restore` to restore some repos, i.e.:

[code]
or

[code]

Make sense @davecheney?

[2015-10-06 14:13] davecheney commented on #350
I am sorry for not replying earlier. I will not be adding this functionality. gb cares about repeatable builds, and your suggestion will further encourage people to not vendor their code, but instead ship with the manifest file only and expect users to use restore to recover the source.

[2015-10-06 15:15] dradtke commented on #406
Ah, I wasn't aware of this issue when I created my PR. When I have some time I'll look through the proposal here to see if I can help out.

[2015-10-06 20:50] kalloc commented on #350
@davecheney I understand you, but I'm worrying about cpu usage and projects making time.
If I can skip already exist depends in vendor path, I can make build faster than when I can't skip.
Can I write solution and create pull request?

[2015-10-06 22:11] cactus opened #422 "Error on freebsd with $PWD != $(realpath $PWD)"
On FreeBSD `/home` is often a symlink to `/usr/home`. This seems to not agree with gb for some reason, and I have to specify the -R path directly.

[code]

Using gb fetched via go get today (Oct  6).

[2015-10-06 23:53] davecheney commented on #422
Thanks for the report. I'll look into it soon.

On Wed, 7 Oct 2015 09:11 eli <notifications@github.com> wrote:

[2015-10-07 00:18] davecheney commented on #350
Can you explain more about your build process. How does gb vendor restore
dominate your build time?

On Wed, 7 Oct 2015 07:50 kalloc <notifications@github.com> wrote:

[2015-10-07 01:56] cactus commented on #422
@davecheney I think I found the root cause.
In cmd/main.go

[code]

It appears that filepath.Abs does not resolve symlinks on its own.
The following gets it to work -- but I admit to not knowing how portable it would end up being.

[code]

[2015-10-07 01:59] davecheney commented on #422
Thanks. I agree with your diagnosis. That check was added a while back. The
details escape me, but I believe it was also symlinks related, before
changing that path, I'd like to review the reason that line was added.

On Wed, 7 Oct 2015 12:56 eli <notifications@github.com> wrote:

[2015-10-07 02:46] cactus commented on #422
I updated the diff to show a bit more context, and to make it clear that resolving symlinks would be additive, not intended to replace the existing absolutification (that isn't a real word is it?!) of the path.

[2015-10-07 02:49] cactus commented on #422
Forgot to mention that I am in no hurry, as I do have a valid workaround (via `-R`).
Thanks!

[2015-10-07 07:12] kalloc commented on #350
@davecheney of course :)

Let's I show my Makefile file
[code]

Restoring all dependancies takes much time. I'm living (Russia, Indonesia, Urkaine) in country with poor internet connection, sometimes I'm working via EDGE connection. I don't want to download packages all time.
I'm going to create pull-request to support special flag (like --install-only), if you wouldn't mind.

p.s. Have a nice wee

[2015-10-07 08:36] davecheney commented on #406
@dradtke thanks. I'm sorry about your previous PR. The goal of #406 is to try to always involve the compiler from at fixed point in the directory tree, so that the output from the compiler naturally falls into the correct place relative to $PROJECT.

[2015-10-07 09:28] gobwas commented on #350
@davecheney @kalloc and other case is: behind the firewall build server could not connect to github.com, and developers add dependencies into the vendor/src manually, and then commit them. After that, build server should restore only allowed to connect repos.

Thanks )

p.s. @kalloc in Moscow should be a good Internet Connection ;-)

[2015-10-07 09:39] kalloc commented on #350
@davecheney the time takes to build the project
[code]

[code]

[2015-10-07 10:04] kalloc commented on #350
@gobwas yes, you are right, Moscow's internet better than Kaluga's or Krasnodar's

[2015-10-07 13:35] gobwas commented on #226
@davecheney what do u think about comment above?

[2015-10-07 13:38] davecheney commented on #226
You can do that now with gb as we have -tags support.

On Thu, Oct 8, 2015 at 12:35 AM, Sergey Kamardin <notifications@github.com>
wrote:

[2015-10-07 13:38] gobwas commented on #226
@davecheney thats cool, but what about tests dir?

[2015-10-07 13:40] davecheney commented on #226
So you're asking for $PROJECT/tests, not $PROJECT/src/tests ?

On Thu, Oct 8, 2015 at 12:38 AM, Sergey Kamardin <notifications@github.com>
wrote:

[2015-10-07 13:41] gobwas commented on #226
Yes, about $PROJECT/tests =)

[2015-10-07 13:42] davecheney commented on #226
Apart from putting things in different boxes, what would be the advantage
given that $PROJECT/src/tests would work today with no change.

On Thu, Oct 8, 2015 at 12:41 AM, Sergey Kamardin <notifications@github.com>
wrote:

[2015-10-07 13:44] gobwas commented on #226
What will u do if you will have package tests, that's not for integration tests?

[2015-10-07 13:47] davecheney commented on #226
I'm not keen on adding a special top level directory $PROJECT/tests just so
that there can be some go code that does not exist within the existing two
project/src and project/vendor/src directories.

You're going to have to make a stronger argument that this code is special.

On Thu, Oct 8, 2015 at 12:44 AM, Sergey Kamardin <notifications@github.com>
wrote:

[2015-10-07 13:56] gobwas commented on #226
Also, about tags – how could I use them?

[code]

[2015-10-07 13:58] davecheney commented on #350
Respectfully, you are using gb vendor incorrectly. The expected use case is
your project will contain all the source of your code, and the depedencies,
vendored into project/vendor/src. The expected use case is _not_ to use gb
vendor restore to avoid vendoring your code, and this is why you are
hitting limitations.

I am afraid I am not willing to accept patches to alter gb vendor restore
for the

[2015-10-07 14:03] davecheney commented on #226
I am sorry, it is likely that gb test doesn't handle -tags correctly yet --
it has a lot of limitations. Please raise a new bug.

On Thu, Oct 8, 2015 at 12:56 AM, Sergey Kamardin <notifications@github.com>
wrote:

[2015-10-07 14:36] kalloc commented on #350
@davecheney Sorry, help me to understand right use case.
I make example project (https://github.com/kalloc/gb-wrong-example), tell me, what's wrong with him.
I am not seeing difference between https://github.com/constabulary/example-gsftp and my case.

[2015-10-07 14:40] kalloc commented on #350
@davecheney Oh, you mean, I should store all dependancies source in the project?
It is an overhead

[2015-10-07 14:52] gobwas opened #423 "gb test: -tags flag still not works"
[code]

[2015-10-07 15:58] davecheney commented on #350
@kalloc that's fine. Let me explain the philosophy of gb. A gb project must contain all the source, including dependencies, however gb itself does not take care of this, it is left to the project owner to decide how to collect all the dependencies into the gb project structure.

One way to do this is to use the _optional_ gb vendor plugin, which will copy the source of your dependencies into your

[2015-10-07 16:17] kalloc commented on #350
@davecheney Is it possible to use submodule and gb vendor together ?

[2015-10-07 16:19] davecheney commented on #350
gb vendor doesn't know about anything in the manifest file, that is, if it didn't vendor it, it doesn't know about it.

With that said, gb doesn't know about gb vendor either, all it cares about is the right code is on disk at the right location.

[2015-10-07 16:54] kalloc commented on #350
@davecheney ok, gb isn't that I need, I will look for another tools for dependancies manager, compatible to vendor

[2015-10-13 08:31] #323 closed

[2015-10-13 08:34] davecheney commented on #420
Closing as described above. Please feel free to reopen if you disagree

[2015-10-13 08:34] #420 closed

[2015-10-13 21:13] dradtke commented on #193
I just came across a need for something like this as well; I want to incorporate [go-bindata](https://github.com/jteeuwen/go-bindata) into my project, and ideally it would be included as part of the build, but run before anything actually gets built.

[2015-10-13 21:17] davecheney commented on #193
I don't have any plans to add this at the moment.

I recognise the need for this feature, but I have no plans to add it
without careful though about how this would change gb's role into that of a
general build tool. Just as gb doesn't seek to replicate go get, it also
doesn't seek to replicate make(1).

On Wed, Oct 14, 2015 at 8:13 AM, Damien Radtke <notifications@github.com>
wrote:

[2015-10-13 21:28] dradtke commented on #193
My planned workaround is to use `make` to selectively build a couple dependencies, run the resulting binaries to get their output, and then invoke `gb build`.

[2015-10-30 03:49] lateefj opened #434 "Override scm vendor fetch (git, hg ect)."
I have a custom url that does not have git in the url that is hosting private repositories. I am working on a PR that would add this feature. As I am struggling to build / test I wanted to make sure something like this would be accepted before I put more time into it. Currently I was thinking something like this:
[code]

[2015-10-30 08:27] davecheney commented on #434
Yeah, that sounds fine, but it will need to be a complete URL, Including the scheme.

[2015-10-30 23:15] mbrevoort opened #435 "gb test should only print test output if tests fail"
It would be great if gb's behavior was the same as `go test` with the way it deals with printing output. `go test` only prints the output (stdout and stderr) if a test fails:
https://golang.org/src/testing/testing.go?s=12723:12764#L511

I would love it if a test would PASS silently and FAIL verbosely. For example, this passing package test adds a lot of noised to the output, especially when just o

[2015-10-30 23:17] davecheney commented on #435
I agree, and i'm working on this for the 0.3 release (soon, i hope).

The plan is exactly as you describe, if the test process passes, exits 0, then nothing will be printed. If it fails, you get stdout and stderr.

[2015-10-31 16:43] mbrevoort commented on #435
Sounds great, thanks @davecheney!

[2015-11-03 04:51] davecheney opened #436 "gb should catch ^C and issue ctx.Destroy"
Important to avoid leaving stacks of /tmp/gbNNN directories around.

[2015-11-03 07:53] davecheney opened #438 "gb test -v / test.v should always output test output"
Currently test output is suppressed unless the test fails, in which case everything is printed.

Passing `-v` to gb test should case the output to be printed always, even if successful

[2015-11-03 07:58] davecheney commented on #435
Done. See also #438

[2015-11-03 07:58] #435 closed

[2015-11-04 00:43] davecheney opened #439 "gb needs to give clearer errors when a dependecy fails to resolve"
[code]
[code]

[2015-11-04 01:38] mbrevoort commented on #435
Amazing! So much better!

[2015-11-04 03:24] mbrevoort commented on #435
LOL from a coworker:

Thanks again Dave

[2015-11-04 04:06] davecheney commented on #435
There's a moral in this story, somewhere, I'm sure.

On Wed, 4 Nov 2015, 14:24 Mike Brevoort <notifications@github.com> wrote:

[2015-11-05 01:11] davecheney opened #440 "output failing package before compile errors"
Moving the output of the package name til the completion of the compilation, #437 now causes gb to _not_ print the name of the package if there was a compilation failure
[code]
It's not clear which package gb.go belongs to. This is because the compile failure happens in an action below the final action in gb.Compile, so the action is skipped, skipping the logging.

This may be ameliorated if #406

[2015-11-07 21:11] sevein commented on #440
Aye! Same issue here, glad you noticed it.

[code]

[2015-11-08 09:57] davecheney commented on #440
I'm working on a fix right now. I'll do a 0.3.1 bugfix release soon

[2015-11-08 18:53] goloroden opened #443 "How to build a gb project with vendored gb projects?"
I am doing my first steps in Go, and I have quite quickly stumbled upon the problem of vendoring. I was pointed to `gb` and I really like the approach this tool is taking, especially also that it works on a project-base instead of a workspace-base.

So far, I have written a library project and I can build it using `gb build`. This works fine :-)

Now I have pushed this library to GitHub, and start

[2015-11-09 04:08] adamclerk commented on #367
:+1:

[2015-11-09 04:16] davecheney commented on #367
I'm sorry that in have not added cover support.

It is certainly on my list, but when added it will probably not be a flag,
but a high level command, ie

gb cover $pkg

On Mon, 9 Nov 2015, 15:09 Adam Clark <notifications@github.com> wrote:

[2015-11-09 04:24] adamclerk commented on #215
I'm not sure if it will help anyone. But I modified the shell script here...
https://mlafeldt.github.io/blog/test-coverage-in-go/

for use with gb

https://gist.github.com/adamclerk/132b8e7a01e419dc3f47

[2015-11-09 04:25] adamclerk commented on #367
In he mean time I've modified the coverage script published here...
https://mlafeldt.github.io/blog/test-coverage-in-go/

for use with gb

https://gist.github.com/adamclerk/132b8e7a01e419dc3f47

[2015-11-09 05:10] #440 closed

[2015-11-09 10:13] davecheney opened #445 "^C during compile leaves broken binaries"
[code]
This is because `gb.Link` links directly to the final binary path, rather than $WORKDIR and then a copyfile step.

[2015-11-09 10:23] davecheney commented on #445
For extra sadface, the go tool is too cautious to overwrite the dodgy blob that was half written
[code]

[2015-11-09 16:07] oleksandr commented on #443
+1

[2015-11-09 20:40] dennisjbell commented on #435
I agree with no test output in case of pass, but now there's no output at all on pass, so I don't know if there are even any tests written.  A simple summary of "All N tests passed" would be really helpful to indicate that there were tests and they were all run and passed.

[2015-11-09 22:55] davecheney commented on #435
Unfortunately this information is not available, the test binary only gives a pass or a fail via exit code.

However, we do know the number of test cases written as part of building the test runner binary, perhaps I can log that information

[2015-11-10 14:14] akozlenkov opened #446 "gb vendor error"
$ gb vendor
FATAL: command "vendor" failed: plugin: no command supplied

Go 1.5.1

[2015-11-10 17:20] qanx opened #447 "Feature: create `gb version` flag"
Discovered that when tests pass I see the test output but my coworker, who installed gb about a week or two later, does not. e.g. I see:

[code]

And he only sees the following for passing tests:

[code]

It took a bit to discover that there had been changes made between his install and mine. It would have been much easier and more up front if we had had a `gb version` or similar command to run :)

[2015-11-10 20:57] davecheney commented on #447
I'm sorry this caused you issues. I agree this would be very useful, but there are a number of problems to be solved (that I don't have immediate solutions for) as gb is built with the standard go tool.

This is already tracked as #212. Closing as duplicate.

[2015-11-10 20:57] #447 closed

[2015-11-10 20:59] davecheney commented on #446
Thank you for the error report. You could use `gb vendor help`, but `gb vendor` without an argument should do this for you.

[2015-11-10 21:26] mpasternacki commented on #212
How about scripting the release process? Let's say, a `release.sh` script, which would take version number as argument, and do something along the lines of:

[code]

This would take care of keeping tags and committed version number in sync. This would mean that building directly from a tagged release (e.g. by a packaging tool) has exact version number defined, and using `go get` directly off maste

[2015-11-10 22:58] mpasternacki commented on #212
(Hm. Unless `go get` pulls the default branch rather than specifically master. With git-flow-like setup you need to set _develop_ as main branch on github, otherwise all the PRs you'll get will be against master)

[2015-11-10 23:03] davecheney commented on #212
Thank you for this feedback. I want to be clear that I am no dismissing your ideas, having a usable version number is very important to me as well.

However, at this early stage in development, I am not planning on addressing this.

Usable internal version numbers is something that I will address as we get closer to a 1.0 release. FOr now, my advise is to always use the latest available.

[2015-11-10 23:15] mpasternacki commented on #212
Thank you for your honest reply. Would you be interested in a PR which addresses this, or do you prefer to keep this issue open until later to avoid locking yourself into a particular solution? I'd be willing to prepare a PR if it's just a matter of time needed for implementation.

I'm interested in this as I'm maintaining FreeBSD port for gb (which I use to build my software that I want to packag

[2015-11-11 01:10] liamstask opened #448 "gb test does not print output for tests in package main (?)"
Not sure if this is actually the issue, but i'm seeing the following behavior currently with 0.3.1:
* `gb test` on a non-main package runs tests with output as expected
* `gb test` on a main package results in just project name being printed
* cd into folder with source files in main package, and `go test` runs tests with output as expected

[2015-11-11 01:15] davecheney commented on #448
Thanks for the issue report. Due to an annoying bug `gb test -v` won't turn
on any sort of verbose output.

I cannot reproduce your problem (I added a test that slept for 10 seconds,
and the output of the package name was delayed by the expected amount of
time)
[code]

Is the source of your code online somewhere ?

On Wed, Nov 11, 2015 at 12:10 PM, Liam Staskawicz <notifications@github.com>
wrote:

[2015-11-11 01:29] liamstask commented on #448
it's a bit of code i was sketching, and don't have up online anywhere, but this minimal case (https://gist.github.com/liamstask/87d2e90958de030ecbaa) that shows this behavior on my machine, where the path to these files is `mymain/src/mymain`.

[2015-11-11 01:30] davecheney commented on #448
ok, i need to fix -v to turn on debugging for tests, then i'll get back to
you

On Wed, Nov 11, 2015 at 12:29 PM, Liam Staskawicz <notifications@github.com>
wrote:

[2015-11-11 08:16] davecheney commented on #212
I would prefer to not take a PR until gb is closer to a 1.0 release.

Thank you for doing this. Is a git tag sufficient for ports maintainers ?

[2015-11-11 09:42] davecheney commented on #448
Hello,

Could you please make sure you have #450 and try the following
[code]
And paste or attach all the output.

It should be straight forward to figure it out from there.

[2015-11-11 09:44] davecheney commented on #438
#450 broke the debug logging out of gb, so -v is free to be used to enable test debug output.

[2015-11-11 18:00] liamstask commented on #448
thanks. output:
[code]

[2015-11-11 20:42] davecheney opened #452 "gb/vendor: fix bitbucket tests"
#451 disabled the bitbucket tests in vendor/repo_test.go as some interaction with mercurial in a child process was trying to do something interactive and hanging.

[2015-11-12 10:13] #446 closed

[2015-11-12 10:17] davecheney commented on #443
Thank you for logging this issue. I know that people want to use gb vendor to vendor other gb projects. This is a known issue, and one of the oldest #49.

There is logic in gb-vendor to support vendoring and excluding a path (ie, the src/github.com/blah/blah) but it is not hooked up and will probably need a version number bump in the manifest.

This is something I am aware of, but apart from the r

[2015-11-12 10:18] davecheney commented on #352
Merged into #443

[2015-11-12 10:18] #352 closed

[2015-11-12 10:21] davecheney commented on #311
@nullstyle I think this has been addressed indirectly in the 0.3.x release series. I'm going to close this issue, please reopen it if you find this is not correct.

[2015-11-12 10:21] #311 closed

[2015-11-12 10:26] davecheney commented on #412
I've had no other reports of this issue and have been unable to reproduce it myself. I'm sorry, but I don't know how to debug this issue.

I'm going to close this issue because there is nothing that I can do, I'm sorry for the inconvenience.

[2015-11-12 10:26] #412 closed

[2015-11-12 14:23] mpasternacki commented on #212
Yes, github tag is sufficient to build a particular version in a repeatable way. Version subcommand would be just extra convenience to confirm which version actually runs. I understand now how it fits into your development priorities and will wait patiently for it :)

[2015-11-12 15:34] layered-esell commented on #448
just a +1 that we are also seeing this issue on one of our projects.

[2015-11-12 18:33] kalafut commented on #212
Here's one approach the user can add to their .bashrc until the version is baked in:

[code]

[2015-11-12 19:15] nullstyle commented on #311
Yep, it works for me now. Thanks!

[2015-11-12 19:56] davecheney commented on #448
@layered-esell could you please follow the same procedure as above and include the output. Thanks

[2015-11-12 21:48] davecheney commented on #212
Thanks for the feedback. To give a little more background, with gb
iterating so fast, and considering that the go tool doesn't care about
versions it is expected that a lot of people will not be using a released
version.

Thanks utility of a gb version command is to return the hash their tool was
built from but the go tool provides no mechanism for this.

This could be done with a build script, bu

[2015-11-12 22:00] davecheney opened #453 "[RFC] introduce top level gb package"
This issue proposed augmenting gb to produce, on demand a package, nominally "gb", which contains information about the build environment, vcs tags, etc

# Background

There is a clear need to provide build info in Go programs. Currently this is done at link time with the -X flag to the linker.

I have thought to offer this for gb, with a set of default values which would always be applied during

[2015-11-12 22:18] davecheney commented on #311
Thanks for confirming. I'm not sure when that got fixed.

On Fri, 13 Nov 2015, 06:15 Scott Fleckenstein <notifications@github.com>
wrote:

[2015-11-12 23:49] layered-esell commented on #448
Sure thing, here you go:

[code]

[2015-11-17 04:56] #452 closed

[2015-11-20 22:27] davidkaya commented on #436
@davecheney
Dave? So cmd/gb should ignore ^C, i.e. continue even though the ^C?
cmd/gb-vendor should hook the ^C and call (append) the ctx.Destroy function?

[2015-11-20 22:29] davecheney commented on #436
Have a look at what cmd/go does, it hooks ^C and ignores it itself, but
lets the signal propogate down to the child processes so they exit quickly
with an error, which lets cmd/go cleanup, then also report the error back
to the user.

cmd/gb-vendor should also have some logic to handle this as it creates
temporary files that should be cleaned up if we can.

On Sat, Nov 21, 2015 at 9:27 AM, Dávid K

[2015-11-21 10:52] davidkaya commented on #436
@davecheney
Dave, Can you check this commit: https://github.com/davidkaya/gb/commit/7a0d3b7aaf718e67326ec7d6c2ce234b13807c0c ? Is this how you wanted it to be? It is only cmd/gb, I will get into cmd/gb-vendor as soon as I know if it is correct approach :)

This is output:
[code]

[2015-11-21 13:20] fd0 opened #457 "Using gb with godoc.org?"
I'd really like to use `gb` as a build tool for the [restic backup program](https://github.com/restic/restic). I wasn't able to figure this out myself: Is there a way to use `gb` and have all the code below `src` and still be able to use godoc.org for browsing the code documentation?

[2015-11-21 16:12] tianon commented on #457
I don't see any reason for it not to work; https://godoc.org/github.com/constabulary/example-gsftp/src/cmd/gsftp is a link to docs for the example project :smile:

[2015-11-21 16:41] mowings commented on #448
+1 on this -- same issue here.  Even if I throw a fmt.Println into the top of the test I see nothing. This is on  a linux amd64 container. Note that in this case, GOPATH and the project directory are the same

[2015-11-21 20:13] thockin commented on #308
Any thoughts on progress on this?

[2015-11-21 22:41] fd0 commented on #457
Hm, that looks okay indeed. When I last tried it, I remember that it didn't work so well.

I made a (silly) sample repository here: https://github.com/fd0/argon-gb, on godoc.org at least the import paths for packages are wrong (they have an additional path component `src`): https://godoc.org/github.com/fd0/argon-gb/src/foo

[2015-11-21 22:41] #457 closed

[2015-11-21 23:44] davecheney commented on #436
Sure. Can you send it as a pull request?

On Sat, 21 Nov 2015, 21:52 Dávid Kaya <notifications@github.com> wrote:

[2015-11-22 05:49] Gouthamve commented on #448
+1 I am seeing this too. Its kindof annoying.

[2015-11-22 05:51] davecheney commented on #448
@mowings, could you please follow the same procedure described about,
you'll have to export GB_DEBUG=. if you're using a recent version of gb to
get the debugging output.

On Sun, Nov 22, 2015 at 3:41 AM, mowings <notifications@github.com> wrote:

[2015-11-22 05:59] Gouthamve commented on #448
Sorry for not giving the debug output.
Here is mine. Ran ```gb test worker``` with DEBUG=.

[code]
```GB_DEBUG``` is not working for me only ```DEBUG=.``` is. I just ran go get -u.

Also, I am resorting to this:
[code]

[2015-11-22 06:01] davecheney commented on #448
Sorry, yes, DEBUG is the correct env bar

[2015-11-22 10:41] davecheney commented on #308
I'm sorry I have not had a chance to investigate this.

On Sun, Nov 22, 2015 at 7:13 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-11-25 09:27] #65 closed

[2015-11-25 09:27] #445 closed

[2015-11-25 09:42] #436 closed

[2015-11-25 13:57] nickstenning commented on #346
Hi folks. I'm wondering if you've made any progress here? I just ran into this today -- having `gb build` write to different paths if `GOOS/GOARCH` matches `GOHOSTOS/GOHOSTARCH` makes writing Makefiles that work across architectures a bit tricky.

[2015-11-25 23:23] mowings commented on #448
Here's mine:

[code]

[2015-11-25 23:30] davecheney opened #462 "gb/debug: debug logging logs the wrong source file line"
2015/11/25 17:20:17 debug.go:27: project root "/vagrant"
2015/11/25 17:20:17 debug.go:27: matchPackages: /vagrant/src pixelpipe/...
2015/11/25 17:20:17 debug.go:27: args: [pixelpipe]
2015/11/25 17:20:17 debug.go:27: loadTestFuncs: [environment_test.go job_test.go queue_test.go], []
2015/11/25 17:20:17 debug.go:27: cd /vagrant/src/pixelpipe; [/usr/local/go/pkg/tool/linux_amd64/compile -p pixelpipe

[2015-11-25 23:31] davecheney commented on #448
Thanks. What I see happening is building and linking the test binary
happens fine, but then it does not schedule the run of the binary.

On Thu, Nov 26, 2015 at 10:24 AM, mowings <notifications@github.com> wrote:

[2015-11-26 01:43] davecheney commented on #346
Not much progress lately, the focus of the 0.3 series is gb test. See the
roadmap for more details.

I'd welcome a PR on this, but please discuss your change before you start
coding.

Thanks

Dave

On Thu, Nov 26, 2015 at 12:57 AM, Nick Stenning <notifications@github.com>
wrote:

[2015-11-26 10:37] davecheney commented on #448
I'm working on this now. I'll have a PR to test shortly.

[2015-11-26 11:01] #462 closed

[2015-11-26 11:06] davecheney commented on #448
@liamstask @mowings @Gouthamve I'm going to submit #463 and release 0.3.2, I hope that this fixes the problem, or at least makes it clear what is going on.

[2015-11-26 11:32] Gouthamve commented on #448
@davecheney I am still not able to test. While a failure is printing, I am not able to see the success, I don't know if its the expected behaviour. When successful, only the package name is printing.

DEBUG=. output:
[code]

[2015-11-26 11:38] davecheney commented on #448
Your test is run, see the line `worker`.

On Thu, Nov 26, 2015 at 10:32 PM, Goutham Veeramachaneni <
notifications@github.com> wrote:

[2015-11-26 11:41] Gouthamve commented on #448
Hmm, okay. While I know its running (failures are showing up), I was expecting the following line that the go tool shows.
[code]

I guess, I am used to the go tool. Also please

[2015-11-26 12:27] davecheney commented on #448
@Gouthamve here are the current rules for the output (not debug) that gb prints.

You will get one line of output per package built or tested, if the operation is successful, the name of the package is printed _after_ the operation completes.

If the operation is a failure, you get the name of the package with a # before it, and any output from the command.

I'm not totally happy with this scheme,

[2015-11-27 01:51] mowings commented on #448
@davecheney -- I should be clear -- my actual tests run. If one fails, I get output. But basically -v doesn't work, so no output during a normal run with no failures, or timing info.

[2015-11-27 01:58] davecheney commented on #448
@mowings see #438

[2015-11-28 03:24] #423 closed

[2015-11-28 03:37] #393 closed

[2015-11-28 03:37] #394 closed

[2015-11-28 03:38] davecheney commented on #448
I believe this is now fixed. Closing for now. Please reopen if this is not fixed.

[2015-11-28 03:38] #448 closed

[2015-11-28 05:05] #438 closed

[2015-11-28 18:34] liamstask commented on #448
fixed for me. thank you.

[2015-12-02 17:40] fcantournet opened #470 "Installation directives"
Right now the suggested way to install gb (from getgb.io) is :

`go get github.com/constabulary/gb/...`

I get that it's just super convenient, and that master is supposed to always be in working condition, but given that we are big on having releases and sticking to semver, shouldn't we suggest a way to install from a tagged realease instead ?

I mean I don't really want to use `go get` and have

[2015-12-03 07:58] metral commented on #328
@davecheney *bump*

[2015-12-03 08:04] davecheney commented on #328
Thank you. I have not forgotten about this issue, but it is not on my current shortlist (you can see the roadmap in the README).

I've added the help wanted tag to this issue, but please discuss your design before you start coding should you decide to work on this.

[2015-12-05 23:50] cactus commented on #422
@davecheney any further thoughts on this?

[2015-12-06 01:01] davecheney commented on #233
@PSG-Luna I'm going to close this old issue as I believe I have addressed most of the outstanding issues with `gb test`. The two remaining issues are a lack of support for `-race` #96 and `-cover` #367 which are being tracked separately.

[2015-12-06 01:01] #233 closed

[2015-12-06 01:06] davecheney commented on #349
I thought that this was roughly fixed in 0.3.x, but it's not. Taking a look at this now.

[2015-12-06 01:42] davecheney commented on #69
As of 0.3.3 this is pretty much done. I'd like to make some tweaks to the output, but the rules outlined in the 0.3.3 release notes are now correct.

[2015-12-06 01:42] #69 closed

[2015-12-06 01:50] #349 closed

[2015-12-06 01:52] nsf commented on #349
Thanks.

[2015-12-06 01:54] davecheney commented on #470
@fcantournet  Thanks for your question. I'll try to answer what I can

At the moment gb needs go get to be installed. There are a few reasons behind that, a good overview of those is this comment, https://github.com/constabulary/gb/issues/212#issuecomment-156246533.

In short, I do plan to make gb self hosting, but not until we're closer to the 1.0 release. At the moment, the convenience and ubiqu

[2015-12-06 01:55] davecheney commented on #349
You're welcome. Sorry it took me so long to get to this. Now I have a
proper end to end test of the gb command so it makes it easier to construct
test scenarios.

On Sun, Dec 6, 2015 at 12:52 PM, nsf <notifications@github.com> wrote:

[2015-12-06 01:58] fcantournet commented on #470
I just meant that it wasn't a blocking issue for me. Just trying to get the conversation started

You answered it in full. Thanks

[2015-12-06 01:58] #470 closed

[2015-12-06 02:18] davecheney commented on #470
Ok, good to know. Thanks for asking.

On Sun, Dec 6, 2015 at 12:58 PM, Félix Cantournet <notifications@github.com>
wrote:

[2015-12-06 18:46] nsf opened #472 "Make it possible to execute tests using tty as stdout/stderr?"
As far as I understand when executing tests, the sub-process stdout and stderr are always buffered: https://github.com/constabulary/gb/blob/master/test/test.go#L181-L189

Perhaps there is a reason for that, for example if you do that in parallel. But some software can be confused by that decision and switches to different logging style. I understand maybe we should fix the subject software and/or

[2015-12-06 19:03] nsf opened #473 "gb test: Failed to resolve import path "-v""
I don't know if this is expected. But it is confusing. I know there is some logic to recognize known testing flags and work with them in a particular way, but I find this confusing.

Define a "projectx" package with TestX and TestY functions in `main_test.go` file.

`gb test -v projectx -run TestX` - runs TestX, all fine
`gb test -v -run TestX projectx` - runs TestX, all fine

It makes you think t

[2015-12-06 21:54] davecheney commented on #473
Thanks for raising this issue. I think what is happening here is gb's flag
parsing is stopping at projectx, and the reminder of the flags are being
forwarded to the test binary which reject them as -v is not defined there.

At a guess I think this is expected, but I'll confirm and see what the go
tool does.

On Mon, 7 Dec 2015, 06:03 nsf <notifications@github.com> wrote:

[2015-12-08 01:36] gosuri opened #474 "gb vendor list format flag not respecting format verbs"
Trivial bug. This is more to do flag parsing. The output doesn't respect format verbs. Example:

[code]
Does not respect the `\t`:
[code]

[2015-12-08 01:41] davecheney commented on #474
Thanks for the report, fwiw, `go list` doesn't support this either
[code]

[2015-12-08 03:07] gosuri opened #475 "vendor fetch errors but fetches any way"
Investing further, will update my findings. Below is the example:

[code]

[2015-12-08 03:13] davecheney commented on #475
Thanks for rasing this bug. The root cause is the way gb vendor fetch works is if you give a sub package path then gb vendor fetch will throw away all the parents and siblings of that path during vendoring. This was well intentioned -- ie don't vendor more than you need -- but in practice completely wrong headed and in addition to the issues you reported above leads to problems like #299.

The sol

[2015-12-08 03:15] gosuri commented on #475
Gotcha.. That makes sense!

[2015-12-08 04:00] gosuri commented on #474
Took a stab at. Looks like the format is being escaped when parsed:

[code]

[2015-12-08 05:01] gosuri opened #476 "gb env should return value associated with a variable"
A cool enhancement that'll make `gb env` more script friendly would be to return the assigned value for a var, similar to `go env VAR`.  Example:
[code]

 I can send a patch, if you'd like.

[2015-12-08 05:04] davecheney commented on #476
:+1: from me. You'll probably have to do some serious surgery to replace the simplistic way `gb info` works now.

Alternatively you may want to add a `gb env`, or make `gb env` an alias for `gb info`.

Either way, please make sure you add end to end tests to cmd/gb/gb_test.go.

Thanks

Dave

[2015-12-08 05:10] gosuri commented on #476
Awesome! Will get rolling.

[2015-12-08 21:50] gosuri commented on #476
I see what you meant by "serious surgery", the args are pkg paths :)

[2015-12-08 23:21] davecheney commented on #476
I believe there is an option to override arg parsing per command. Have a
look at the cmd.Cmd structure and check out how test monkeys with argument
parsing.

On Wed, 9 Dec 2015, 08:50 Greg Osuri <notifications@github.com> wrote:

[2015-12-08 23:23] gosuri commented on #476
Thanks.. Figured it out

[2015-12-08 23:36] davecheney commented on #476
Sorry its such a hand rolled mess.

Part of the challenge with gb is I've made such a song and dance about how
package management should be done, I've sort of painted myself into a
corner and made myself unable to use third party packages.

I should probably find a ladder and get down off my high horse.

On Wed, 9 Dec 2015, 10:23 Greg Osuri <notifications@github.com> wrote:

[2015-12-08 23:50] gosuri commented on #476
I sort of jumped straight to the command's code under the assumption that args weren't manipulated. It wasn't hard tracing back. The code and tests were clear and easy to understand.

More over, I learned much more about the tool with this exercise. Will come handy since I'll be using gb everyday.

[2015-12-09 22:37] davecheney commented on #476
closed by #477

[2015-12-09 22:37] #476 closed

[2015-12-09 23:18] #473 closed

[2015-12-10 01:55] davecheney commented on #472
@nsf thanks for raising this issue. To be honest i'm not sure how to approach this one. I see the need -- the test runner should have as little impact on the thing it is testing as possible -- or at least document the constraints it does place, like the explicit setting of PWD to the source directory of the test that cmd/go and gb both do.

There are a few things that I've changed in the way gb te

[2015-12-10 01:58] nsf commented on #472
I understand your point. Well, it's not a big deal, I guess something we got used to using `go test`.

[2015-12-10 02:03] davecheney commented on #472
@nsf just so I'm clear, am I right that you have to test one package at a time to achieve this behaviour ?

One idea to make this work, and get buffered output is to use a pty, and read the results of the test from the other end of the pty -- it's not much different to the pipe(2) approach that is in use now.

It won't be completely cross platform, but we can do fallback for windows -- and I suspe

[2015-12-10 02:06] nsf commented on #472
Yes, I'm talking about testing one package at a time. `go test` doesn't run them in parallel as far as I understand. Believe it or not, never tried running tests on multiple packages at once.

[2015-12-10 02:18] davecheney commented on #472
I reckon the pty trick could work, and probably be applicable for a wide
range of uses ... i'm not sure how appropriating ptys for test processes is
going to work out in general, but tmux and ssh get away with it just fine,
so I think we'll be ok.

This will need some plumbing in the x/term and x/sys/unix repos before this
can happen, so I cannot promise to turn around this feature in a short
time

[2015-12-11 10:51] matm commented on #367
Thanks @adamclerk! Works like a charm.

[2015-12-13 19:00] matm opened #480 "src/cmd can't be used with go test"
I started a project working with a layout similar to the one stated in the [sample documentation](http://getgb.io/examples/sample-project/):
[code]
While `gb test` is working fine, using this `src/cmd` directory prevents to use `go test` manually (in a script generating coverage stats for example):
[code]

This is a know and expected behaviour described in [Go's wiki](https://github.com/golang/go/

[2015-12-14 01:16] davecheney commented on #480
@matm thanks for raising this issue. I'm sorry you had difficulties. I think once #367 (add support for -cover and #416 (support building commands called `cmd`), this should be fixed.

[2015-12-14 03:47] gosuri opened #481 "gb list returns empty output"
`gb list` returns an empty output, not sure what we'll need to further debug. Will update the issue as I investigate further.

Example:
[code]

[2015-12-14 06:16] davecheney commented on #481
@gosuri i'm guessing that there is some code in this project. Could you include the output of tree $GB_PROJECT_DIR ?

[2015-12-14 06:22] gosuri commented on #481
Here you go - https://gist.githubusercontent.com/gosuri/b43d2448444bfcefd1c9/raw/d297db09effec8e97963932c854ec592b25ed845/gb-tree.txt

[2015-12-14 07:05] davecheney commented on #481
@gosuri thanks for the paste. I've pushed #482 with some basic tests for `gb list`, these confirm what I see with manual testing, which is a polite way of saying "i cannot reproduce what you see".

Can you do two things for me

1. Confirm that there are no symlinks in your project structure
2. Paste the output of go `env DEBUG=. gb list`

[2015-12-14 07:34] gosuri commented on #481
Hmm.. That seems to have fixed it. Output:

[code]

[2015-12-14 07:48] gosuri commented on #481
I could reproduce the error, it happens when the parent dir is a symlink:

[code]

[2015-12-14 08:01] davecheney commented on #481
That is expected. Because gb uses the `go/build` package it retains the latter's dislike of symlinked directory structures. It's best to avoid them in your gb projects.

With that said, you've symlinked at a level _above_ the project directory, so this should be ok.

[2015-12-14 08:07] gosuri commented on #481
That makes sense. Also, it seems to be ok with symlinks inside the tree:

[code]

[2015-12-14 08:55] davecheney commented on #481
Go/build ignores any file or directory starting with _, ., or the word testdata. It doesn't consider them source, even if they are symlinks.

[2015-12-14 08:58] gosuri commented on #481
Good deal. Thanks so much!

[2015-12-14 10:31] davecheney commented on #481
@gosuri thanks for the repro. I think I found the problem and if #483 passes, I'll merge it.

[2015-12-14 10:55] gosuri commented on #481
Awesome. Happy to help :)
On Mon, Dec 14, 2015 at 02:31 Dave Cheney <notifications@github.com> wrote:

--
Greg Osuri
OvrClk <http://ovrclk.com/> • Blog <http://gregosuri.com/> • Twitter
<http://twitter.com/GregOsuri> • PGP <https://keybase.io/kn0tch/key.asc> •
+1 (415) 683 1097

[2015-12-14 11:05] #422 closed

[2015-12-14 11:05] #481 closed

[2015-12-14 11:14] davecheney commented on #308
@eparis @thockin I think #483 might improve the situation.

[2015-12-14 17:04] thockin commented on #308
From a kubernetes repo:
[code]

Still no love.

[2015-12-14 17:09] eparis commented on #308
I think this does fix my bug, where gb went off the rails when `pwd` had a symlink.

But agree with Tim that isn't a huge pain that `pathwalk` has absolutely no 'follow symlinks' option. So go won't find packages via ./...

[2015-12-14 23:54] cactus commented on #422
Awesome. Thanks @davecheney.
Just tested on my FreeBSD box and it indeed appears to be fixed!

[2015-12-15 00:03] davecheney commented on #422
Thanks for confirming.

[2015-12-15 00:31] davecheney commented on #308
I'm sorry but I don't think I can support that syntax, that places a
symlink inside the $PROJECT/src.

On Tue, Dec 15, 2015 at 4:04 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-12-15 01:38] thockin commented on #308
I don't understand the hate on symlinks?  It's inane to me that the code
layout is dictated to be laid out JUST SO and yet I can't massage my way
around it?

On Mon, Dec 14, 2015 at 4:31 PM, Dave Cheney <notifications@github.com>
wrote:

[2015-12-15 01:48] davecheney commented on #308
At the moment gb uses the go/build package for resolving packages. go/build
prohibits symlinks inside the source directory (GOPATH, and or
PROJECT/src). Allowing symlinks inside those directories would allow the
source of one package to appear more than once inside a binary.

On Tue, Dec 15, 2015 at 12:38 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-12-15 03:03] thockin commented on #308
I know the argument, but I just reject the utility of it.
On Dec 14, 2015 5:48 PM, "Dave Cheney" <notifications@github.com> wrote:

[2015-12-15 06:43] davecheney opened #490 "Building -race should use the stdlib package if not stale."
Followup from #489

If the runtime's race support is missing or our of date, rebuild it.

[2015-12-15 08:09] #96 closed

[2015-12-15 08:14] davecheney opened #491 "Add interlocks to restrict the race detector to certain amd64 for freebsd, linux, darwin, and linux."
Race detector is only supported on certain platforms. We should error early rather than giving a confusing message otherwise.

[2015-12-15 08:15] #31 closed

[2015-12-15 08:17] davecheney commented on #162
Timed out. I'm hoping this is fixed, please reopen if not.

[2015-12-15 08:17] #162 closed

[2015-12-15 10:30] PSG-Luna opened #492 "gb generate behaves oddly/errors in my project"
When running gb generate, I get odd errors about two packages in the cmd/ subfolder, but the error paths refer to my actual GOPATH instead of the gb project dir.

Additionally, gb build doesn't ever rebuild those two packages unless I manually delete the bin/ folder to force a rebuild

Output of gb generate:

[code]

[2015-12-15 10:44] PSG-Luna opened #493 "When printing packages that are being compiled / tested: add seperators"
Add a seperator between the build and the test steps of gb test, this would prevent confusion of what is currently being done when gb test needs to build packages as well as test them

[2015-12-15 11:18] davecheney commented on #493
Thanks for logging this issue. I agree.

What I'm thinking of is to add some kind of suffix something like

github.com/foo/bar {scope=build,tags=race,debug}

The output is pure conjecture, but the idea is to explain why each line is
being output.

On Tue, 15 Dec 2015, 21:44 Luna Duclos <notifications@github.com> wrote:

[2015-12-15 19:27] davecheney commented on #492
Is the source for the generate online ?

[2015-12-15 23:19] gosuri opened #494 "gb test -race fails; unable to import packages from stdlib"
I understand `-race` flag is prerelease,  just wanted to bring this to your attention. `gb test -race` fails (using 1c767a0c55933394c29c7d7026b628e7b8f6285e):
[code]
For a package:
[code]
Test without race:
[code]
Project Dir Tree: https://gist.githubusercontent.com/gosuri/f3e4370ba72bb88db1b4/raw/e0fa8152eb1a226df9448a6a3b447b0ce068bcb2/gbtree2.txt

Env:
[code]

[2015-12-16 00:25] davecheney commented on #494
It's because you have compiled go from source. Run this command

go install -a -race std

To build a race enabled version of the runtime. There is an open todo for
me to add a check to give users this warning.

On Wed, 16 Dec 2015, 10:43 Greg Osuri <notifications@github.com> wrote:

[2015-12-16 02:37] gosuri commented on #494
Sweet. `go install -a -race std` fixed it. Thank you so much.

[2015-12-16 04:33] davecheney commented on #494
Ideally I'd like to support automatically building the right parts of the
runtime if they are missing, like we do for cross compilation, but it
turned out to be a bit hard so I didn't want this to block landing the
feature.

I have a PR which adds a nice message and a link to this online FAQ which
I'll land as soon as I get the test passing.

On Wed, 16 Dec 2015, 13:37 Greg Osuri <notifications@gi

[2015-12-16 07:35] gosuri commented on #494
That sounds awesome! Auto build will fanatic, but I'm sure there're bunch more severe priorities.

[2015-12-16 09:37] davecheney commented on #492
I'm an idiot, gb generate is a gb command. Show's how much I've used it.

[2015-12-16 09:56] #491 closed

[2015-12-16 09:57] davecheney opened #496 "race detector todos"
Todo:
- [x] Add interlocks to restrict the race detector to certain amd64 for freebsd, linux, darwin, and linux.
- [x] Make all binaries dependant on runtime/race.
- [x] Add tests to cmd/gb
- [ ] Add gb and gb/test tests

[2015-12-16 10:26] #494 closed

[2015-12-16 10:29] webgini opened #497 "when creating new project , add that project's path to gopath , so we can get auto completion for our inner packages."

[2015-12-16 10:33] davecheney commented on #497
I'm sorry, that isn't something I can do.

[2015-12-16 10:33] #497 closed

[2015-12-16 10:34] #496 closed

[2015-12-16 14:06] PSG-Luna commented on #493
That would also be a fine fix as far as I'm concerned

[2015-12-16 14:39] steevee opened #498 "Proposal: vendor restore --missing, --retry, and --continue options"
A flaky internet connection has left me wanting three additional (related) options for the `gb` plugin `vendor-restore`:

- `--missing`: only fetch vendor packages not present. By default everything is fetched, which makes sense given the `vendor/src` directories are but copies of the cloned working-copy, so they won't have revision information inside them, which makes an `npm update` equivalent s

[2015-12-16 21:14] davecheney commented on #498
Thanks for raising this issue. I don't plan on adding these flags. If your
upstream is unstable then you should be vendoring those packages and
checking them into source control.

On Thu, 17 Dec 2015, 01:39 Steve Craig <notifications@github.com> wrote:

[2015-12-17 11:28] steevee commented on #498
@davecheney does _not planning_ also mean _not opposed_? (Am I reading what I want to read?)
If so, happy to take a look.

Completely understand this is a roundabout solution to essentially upstream not being stable, and there are existing, precise solutions for that. Having said that, `gb vendor restore` exists, and these might be some nice tools for that toolbox.

[2015-12-17 11:36] davecheney commented on #498
I'd prefer not to add those features. Vendor restore was a mistake, I should have pushed back harder at the time.

If you don't want to vendor your code, that's fine, I also think vendoring is a crude solution, and am working on something much better, have a look at issue 12302, my comments towards the end of the issue. That's what I propose instead.

[2015-12-17 11:51] steevee commented on #498
OK no worries. Glad to get a resolution on `gb vendor restore` at least!
Issue 12302?

[2015-12-17 14:11] ngrilly commented on #498
@steevee I guess @davecheney refers to this: https://github.com/golang/go/issues/12302

[2015-12-17 14:38] steevee commented on #498
@ngrilly cheers I found it but lost myself in the unfolding novel :smile:
For completeness I also found #350 which is very similar to this.

Appreciate vendor restore was a mistep, and presume @davecheney was referring to [this comment](https://github.com/golang/go/issues/12302#issuecomment-152072534), but perhaps he can clarify?

In the meantime, I'm going to vendor with git submodules/subtree. A

[2015-12-17 14:38] #498 closed

[2015-12-17 23:08] davecheney commented on #498
Yup, that's the comment.

Steve, why not use go vendor fetch ? You don't have to use th vendor at all, but if you do, this is the way the plugin was designed to work.

[2015-12-19 09:55] davecheney opened #505 "cmd/gb: refuse to build any package that is not rooted in $PROJECT/src"
Because gb uses `go/build` package resolution can be fooled into building any package that is in scope. This should be prohibited.
[code]
Had this not been Go 1.6, this would have succeeded, and will probably succeed once the resolver refactorings land.

[2015-12-20 19:55] derekmarcotte opened #506 "gb v0.3.1 looking for gcc on FreeBSD 10.1 using port"
Hi,
I'm using gb from FreeBSD packages, and recently updated to v0.3.1 (most current in ports).  My project depends on a library that uses cgo (go-libucl imported via gb vendor).

When I do a `gb test all -v` (or `gb build all`) using a previous version (v0.1.0), every works great.

After doing a `pkg upgrade` to v0.3.1 I get:

I've never had gcc installed, and only ever used LLVM + clang.

If I d

[2015-12-20 20:38] derekmarcotte commented on #506
I was also able to update to v0.3.5 using a custom package I built, and I have the same result as v0.3.1.

[2015-12-20 20:48] derekmarcotte commented on #506
I was able to build (with v0.3.5) using `gb build -ldflags "-extld clang" all`, the resultant build appears to work correctly.

However I was unable to test via `gb test -ldflags "-extld clang" all`:

[2015-12-20 21:12] davecheney commented on #506
Thanks for logging the issue. I'm travelling for the next few days so
responses may be delayed.

Fwiw, if you have go installed, there is no benefit that I can see in using
the ports packaged version vs the installation instructions on getgb.io. I
would strongly recommend installing gb via that method.

On Mon, 21 Dec 2015, 07:48 Derek Marcotte <notifications@github.com> wrote:

[2015-12-22 05:07] pbx0 opened #508 "gb vendor fetch has unhelpful error when pkg does not exist"
[code]

The problem is that `github.com/docker/docker/pkg/units` no longer exists. The nit with gb is that the error message isn't all that helpful. I found this when I was recursively fetching dependancies for a kubernetes pkg.

[2015-12-22 11:09] steevee commented on #498
@davecheney sorry if I'm missing your point, but I understand `vendor fetch` (the `go get` equivalent) fetches one src at a time, so I was using `vendor restore` to process the `manifest` in bulk.

My `/vendor/manifest` is committed and has dozens of dependencies, so I'm looking for ways to make management easier.

Vendoring in dependencies via git submodule/subtree is OK, or simply using `manifes

[2015-12-25 17:01] davecheney commented on #508
Thank you for raising this issue. I plan to address this and several others very soon now by altering gb vendor to always vendor the entire repository unconditionally. Closing as duplicate of #475

[2015-12-25 17:01] #508 closed

[2015-12-25 17:58] #506 closed

[2015-12-25 18:00] davecheney commented on #492
@PSG-Luna are there any symlinks involved here ?

[2015-12-25 18:13] davecheney commented on #360
Closing this as I don't plan to work on this. If you want to work on this please

1. reopen this issue to discuss your design.
2. preferably implement this as a plugin.

[2015-12-25 18:13] #360 closed

[2015-12-25 18:14] davecheney commented on #93
I believe that `gb info` contains all the information needed.

[2015-12-25 18:14] #93 closed

[2015-12-25 18:16] davecheney commented on #193
Closing based on my comments on Oct 13 https://github.com/constabulary/gb/issues/193#issuecomment-147856490

[2015-12-25 18:16] #193 closed

[2015-12-25 18:19] davecheney commented on #492
Oh, I think I see what is going on here. It's related to #416; our old friend `cmd/`

[2015-12-25 18:20] davecheney commented on #492
I won't be able to fix this for the moment. The workaround is to _not_ place your source inside directory called `cmd` at the root of your project. ie

$PROJECT/src/cmd/foo <<< NOT OK
$PROJECT/src/github.com/psg-luna/project/cmd/foo << OK

Duplicate of #416

[2015-12-27 09:26] davecheney commented on #490
Too hard for the moment. Rebuilding the race detector needs some linking magic which I don't understand.

[2015-12-27 09:26] #490 closed

[2015-12-28 13:05] calmh commented on #346
I'd much prefer a way to get rid of the suffix altoghether. My build process, in shell pseudo code, resembles:

[code]

Having the binary name be predictable and non-suffixed is important there.

[2015-12-28 13:08] davecheney commented on #346
I'm sorry but I have decided that if you cross compile your binary will
have the appropriate suffix. Thank you for your understanding.

On Mon, 28 Dec 2015, 14:05 Jakob Borg <notifications@github.com> wrote:

[2015-12-29 11:36] davecheney commented on #492
I think I have a fix for this.

[2015-12-29 13:59] NightBlaze opened #515 "Error compile: ld: symbol(s) not found for architecture x86_64"
Project structure
[code]

File main.go

[code]

Build project with gb build (and gb build all) and get result

[code]

OS: Mac OS X 10.11.2
Go: go version go1.5.2 darwin/amd64

[2015-12-29 14:01] davecheney commented on #515
Thanks for this issue report.

Which version of gb are you using (git revision) ?

Looking at this issue report either your go install is messed up, or you have set GOROOT, or the version of Go that build gb is not the version of Go you are using right now.

[2015-12-29 14:04] NightBlaze commented on #515
I installed gb few minutes ago using go get github.com/constabulary/gb/... so it should be last revision at this moment.

[2015-12-29 14:05] davecheney commented on #515
Ok, thanks for that.

Can you double check your go install for me.

On Tue, Dec 29, 2015 at 11:04 PM, NightBlaze <notifications@github.com>
wrote:

[2015-12-29 14:06] NightBlaze commented on #515
Can you describe how I can check it? I'm iOS developer so all about go are very new for me :)

[2015-12-29 14:08] davecheney commented on #515
How did you install Go ?

[2015-12-29 14:10] NightBlaze commented on #515
With *.pkg from official site https://golang.org/dl/

Apple OS X
OS X 10.8 or later, Intel 64-bit processor
go1.5.2.darwin-amd64.pkg (73MB)
SHA1: 102b4e946b7bb40f0e8aa508e41340a696ead752

[2015-12-29 14:11] davecheney commented on #515
Can you include the output of `go env` for me ?

[2015-12-29 14:12] NightBlaze commented on #515
MacBook-Pro-Alexander:~ nightblaze$ go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/nightblaze/Work/_Go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
GO15VENDOREXPERIMENT=""
CC="clang"
GOGCCFLAGS="-fPIC -m64 -pthread -fno-caret-diagnostics -Qunused-arguments -fmessage-length=0 -fno-common"
CXX="clang++"
C

[2015-12-29 14:14] davecheney commented on #515
ok, that looks fine. I'm testing 1.5 now. Basically gb thinks your go installation is out of date and is trying to rebuild it.

[2015-12-29 14:14] NightBlaze commented on #515
Ok. Thanks. I'll try to reinstall go

[2015-12-29 14:25] NightBlaze commented on #515
I reinstalled go and gb and now I have error

[code]

[2015-12-29 14:27] davecheney commented on #515
Thank you. I am trying to reproduce the issue you are seeing. See #516 #517

[2015-12-29 14:36] davecheney commented on #515
Thank you for your persistence. I've been able to reproduce the issue, and it appears restricted to using the binary osx installer.

[2015-12-29 14:41] davecheney commented on #515
The bug is being caused by the dl version of Go is incorrect
[code]

[2015-12-29 14:42] NightBlaze commented on #515
I reinstalled go with archive and now all work correctly
go1.5.2.darwin-amd64.tar.gz	Archive	OS X	64-bit	73MB 4f30332a56e9c8a36daeeff667bab3608e4dffd2

[2015-12-29 14:52] davecheney commented on #515
Thanks for confirming. I'm sorry you had to hit this. I raised golang/go#13769 and am working on a quick fix to work around the problem in gb for the moment.

[2015-12-29 16:53] #515 closed

[2015-12-30 14:39] davecheney opened #521 "gb generate / gb doc does not work with packaged version of Go"
gb doc - failed with FATAL: command "generate" failed: fork/exec /usr/lib/go/bin/godoc: no such file or directory

gb doc, gb generate and go test cmd/gb does not work when using a packaged version of Go if that version has spread GOROOT out into several components.

For gb doc and gb generate, just call "go" and let LookPath figured it out. For go test cmd/gb we must use the same GOROOT that buil

[2015-12-30 16:06] #521 closed

[2015-12-31 14:16] #416 closed

[2015-12-31 14:19] davecheney commented on #439
Updated by #511

[2015-12-31 14:20] davecheney commented on #306
Closed by #511

[2015-12-31 14:20] #306 closed

[2015-12-31 14:21] davecheney commented on #202
Marking this closed for the moment, fwiw the format of $PROJECT/pkg is not intended to be compatible with go/loader.

[2015-12-31 14:21] #202 closed

[2015-12-31 14:24] davecheney commented on #492
Fixed in #511

[2015-12-31 14:24] #492 closed

[2015-12-31 17:28] fzerorubigd commented on #100
@davecheney  Sorry to bring this up again.
For a workaround, I use symlink, but with the new importer, the symlink workaround is not working anymore :/
I there any hope for this to be done?

[2015-12-31 18:58] davecheney commented on #100
Could you please log a new issue with details and I'll investigate.

On Thu, 31 Dec 2015, 18:28 fzerorubigd <notifications@github.com> wrote:

[2015-12-31 19:58] fzerorubigd commented on #100
About symlink? I already did and it is closed now : #91 I agree with you about symlinks, and not supporting it. but I use it as a workaround for this issue.
Is this "not supporting symlinks in the new refactor" is an issue? or its by design?

[2015-12-31 20:03] davecheney commented on #100
I'm not sure I understand. Did I break something with #511 ? If so, please log a bug with what you see and what you expect so I can investigate. Thanks.

[2015-12-31 20:31] fzerorubigd opened #528 "Symlink build behavior change"
Before #511 this structure was ok :
[code]
this code : https://github.com/fzerorubigd/gb511,
`gb build` dose not build anything with error `FATAL: command "build" failed: no packages supplied
`, but `gb build somecode` build it ok.
but in new version I get this error :
[code]

I don't know if this is a bug or not, but its somehow change in the old behavior.

[2015-12-31 20:32] fzerorubigd commented on #100
Please see #528 for detail.

[2015-12-31 20:36] davecheney commented on #528
@fzerorubigd I don't believe that old behaviour was supported. The go/build package was ruthless in its rejection of symlinks.

The workaround from #100 was to cd into $PROJECT/vendor and build, that would place any binary dependencies in $PROJECT/vendor/bin.

I'll check an older revision and confirm.

Wrt. your example, gb only builds code that is in $PROJECT/src/. If there are other dependencies

[2015-12-31 20:37] davecheney commented on #528
Another workaround is to move the vendored `someplace/somecode` into $PROJECT/src.

[2015-12-31 22:04] fzerorubigd commented on #528
In my case, I can not move the code inside the src. there is a library attached to this code. splitting that package into two separate package is out of my control. its something like go-bindata (see #100)

[2015-12-31 22:05] davecheney commented on #528
@fzerorubigd how about this as a counterproposal

gb build $PKG will build that package if it finds it in $PROJECT/src or
$PROJECT/vendor/src ?

On Thu, Dec 31, 2015 at 11:04 PM, fzerorubigd <notifications@github.com>
wrote:

[2015-12-31 22:07] fzerorubigd commented on #528
That's great. +1!

[2015-12-31 22:11] davecheney commented on #528
@fzerorubigd ok, i'll look into how complicated it is to make that happen. For reference

cd $PROJECT; gb build

will only build the contents of $PROJECT/src/...

but

cd $PROJECT; gb build $PKG

will build $PKG if it is found in $PROJECT/src/$PKG or $PROJECT/vendor/src/$PKG

How does that sound ?

[2015-12-31 22:46] fzerorubigd commented on #528
This is ok, I already use this by setting the GOPATH and using the Go tool in a make file (as a workaround)

[2016-01-02 11:51] bketelsen commented on #453
I think this is brilliant, and would use this in every project.

[2016-01-04 17:25] dradtke opened #530 "gb fails to import standard packages"
Given a simple "hello world" project that looks like this:

[code]

where `main.go` looks like this:

[code]

Running `gb build main` fails with: **FATAL: command "build" failed: failed to resolve import path "main": import "fmt": not a directory**.

This is with a copy of `gb` that was installed via `go get` just 5-10 minutes ago.

[2016-01-04 17:28] dradtke commented on #530
Just confirmed that this example works with version 0.3.5, so it must be something that was introduced since then.

[2016-01-05 07:21] kmtong opened #531 "Private Vendor Source"
How can we fetch private vendor sources by providing/configuring the username/password, without having to enter the username/password everytime it fetches?

[2016-01-05 08:50] davecheney commented on #531
There is currently no mechanism to do this, however vendoring is only done once by the project owner so it should not be a problem. Can you please explain your workflow and I'll see if I can suggest something.

[2016-01-06 01:06] stunti commented on #531
I have the same issue so I will chip in. We have several Git repository hosted in Gitlab on one of our server. Some repository are libraries and thus mostly vendored in other project. Since our Gitlab has authentication, every time we do update one of the library we have to refresh the vendor folder. At this time it call for each library's repositories the username/password twice. Which could be 4

[2016-01-06 01:51] kmtong commented on #531
I am working on the continuous integration server to build the project.  Vendor sources are fetched during build time and so I need some mechanism to specify the credentials.  Locally in my developing machine I SSH key (with GitLab) for the vendor libraries which is fine.

[2016-01-06 02:06] stunti commented on #531
@kmtong Bit off topic but how do you vendor with ssh? I thought (I haven't looked at the code yet) it was only https or http.

[2016-01-06 02:30] kmtong commented on #531
@stunti I just use GitLab with SSH key as usual.  I suspected that "go get" do the magic.

[2016-01-07 06:01] kmtong opened #532 "Cross Compilation using CGO"
I tried to cross compile a project with sqlite driver (github.com/mattn/go-sqlite3) with cgo under Linux for Windows, but failed.

I have `mingw-w64` package installed in a debian system.
go version go1.5.2 linux/amd64

[code]

Failed details follows:
[code]

But if I simply use `go build` as follows, there is no such error.
[code]

Is there anything I am missing?

[2016-01-07 06:03] davecheney commented on #532
Cross compilation with cgo is not supported by go yet. It's something I want to support but I don't have a timeline for when it will make it onto the road map.

[2016-01-07 17:59] rafael84 commented on #346
Hi,

What about simply doing this?

[code]

For my scenario, this works as expected: when both GOOS and GOARCH environment variables are defined, the binary is named properly.

The current tests are passing:

[code]

My environment:

[code]

[2016-01-07 18:02] davecheney commented on #346
LGTM. Do you want to submit a PR ? But please include some integration
tests in cmd/gb/gb_test.go. Copy pasta is your friend, look for a test that
uses gb.ExpectExecutable.

If this is too much, I can take a look later this week.

On Fri, Jan 8, 2016 at 2:59 AM, Rafael Martins <notifications@github.com>
wrote:

[2016-01-07 18:03] rafael84 commented on #346
Okay, I'll try to write some tests and then open a PR.

Thanks in advance

[2016-01-07 18:11] rafael84 commented on #346
I could not find anything named "ExpectExecutable", but I've found this:

[code]

That would be the utility method to be used on the new test cases, right?

[2016-01-07 19:04] rafael84 commented on #346
I've written three scenarios as follows:

[code]

These are the test results for the proposed changes in ```package.go```:
[code]

And this proves that it fails with the original implementation of ```package.go```:

[code]

Is that enough to open the PR?

[2016-01-07 19:11] davecheney commented on #346
SGTM.

On Fri, Jan 8, 2016 at 4:04 AM, Rafael Martins <notifications@github.com>
wrote: